##### Copyright 2020 Google LLC.

Licensed under the Apache License, Version 2.0 (the "License");

In [653]:
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Meta-Dataset leaderboard

This notebook computes leaderboard tables for different models on Meta-Dataset.

Results for each model in each training setting (ImageNet-only or all datasets) are defined in a different DataFrame. This script aggregates the data in one DataFrame, ranks the models in each setting (using a statistical test for equality), and produces the final tables.

In [654]:
import re
import textwrap

import numpy as np
import pandas as pd
from IPython import display

In [655]:
# Explicit list of evaluation datasets.
# ILSVRC (valid) is included for completeness, but does not have to be reported.
datasets = [
    "ILSVRC (valid)",
    "ILSVRC (test)",
    "Omniglot",
    "Aircraft",
    "Birds",
    "Textures",
    "QuickDraw",
    "Fungi",
    "VGG Flower",
    "Traffic signs",
    "MSCOCO"
]

# Explicit list of articles and references, filled in throughout the notebook.
references = []

## Results from Triantafillou et al. (2020)

In [656]:
ref = ("Triantafillou et al. (2020)",
       "Eleni Triantafillou, Tyler Zhu, Vincent Dumoulin, Pascal Lamblin, "
       "Utku Evci, Kelvin Xu, Ross Goroshin, Carles Gelada, Kevin Swersky, "
       "Pierre-Antoine Manzagol, Hugo Larochelle; "
       "[_Meta-Dataset: A Dataset of Datasets for Learning to Learn from Few "
       "Examples_](https://arxiv.org/abs/1903.03096); ICLR 2020.")
references.append(ref)
# display.display(display.Markdown(ref[1]))

### k-NN (`baseline`)

In [657]:
baseline_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
baseline_imagenet_df['# episodes'] = 600

In [658]:
baseline_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [41.03, 1.01],
    [37.07, 1.15],
    [46.81, 0.89],
    [50.13, 1.00],
    [66.36, 0.75],
    [32.06, 1.08],
    [36.16, 1.02],
    [83.10, 0.68],
    [44.59, 1.19],
    [30.38, 0.99]
]

In [659]:
baseline_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     41.03   1.01         600
Omniglot          37.07   1.15         600
Aircraft          46.81   0.89         600
Birds             50.13    1.0         600
Textures          66.36   0.75         600
QuickDraw         32.06   1.08         600
Fungi             36.16   1.02         600
VGG Flower         83.1   0.68         600
Traffic signs     44.59   1.19         600
MSCOCO            30.38   0.99         600

In [660]:
baseline_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
baseline_all_df['# episodes'] = 600
baseline_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [38.55, 0.94],
    [74.60, 1.08],
    [64.98, 0.82],
    [66.35, 0.92],
    [63.58, 0.79],
    [44.88, 1.05],
    [37.12, 1.06],
    [83.47, 0.61],
    [40.11, 1.10],
    [29.55, 0.96]
]
baseline_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     38.55   0.94         600
Omniglot           74.6   1.08         600
Aircraft          64.98   0.82         600
Birds             66.35   0.92         600
Textures          63.58   0.79         600
QuickDraw         44.88   1.05         600
Fungi             37.12   1.06         600
VGG Flower        83.47   0.61         600
Traffic signs     40.11    1.1         600
MSCOCO            29.55   0.96         600

### Finetune (`baselinefinetune`)

In [661]:
baselineft_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
baselineft_imagenet_df['# episodes'] = 600
baselineft_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [45.78, 1.10],
    [60.85, 1.58],
    [68.69, 1.26],
    [57.31, 1.26],
    [69.05, 0.90],
    [42.60, 1.17],
    [38.20, 1.02],
    [85.51, 0.68],
    [66.79, 1.31],
    [34.86, 0.97]
]
baselineft_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     45.78    1.1         600
Omniglot          60.85   1.58         600
Aircraft          68.69   1.26         600
Birds             57.31   1.26         600
Textures          69.05    0.9         600
QuickDraw          42.6   1.17         600
Fungi              38.2   1.02         600
VGG Flower        85.51   0.68         600
Traffic signs     66.79   1.31         600
MSCOCO            34.86   0.97         600

In [662]:
baselineft_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
baselineft_all_df['# episodes'] = 600
baselineft_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [43.08, 1.08],
    [71.11, 1.37],
    [72.03, 1.07],
    [59.82, 1.15	],
    [69.14, 0.85],
    [47.05, 1.16	],
    [38.16, 1.04],
    [85.28, 0.69],
    [66.74, 1.23],
    [35.17, 1.08]
]
baselineft_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     43.08   1.08         600
Omniglot          71.11   1.37         600
Aircraft          72.03   1.07         600
Birds             59.82   1.15         600
Textures          69.14   0.85         600
QuickDraw         47.05   1.16         600
Fungi             38.16   1.04         600
VGG Flower        85.28   0.69         600
Traffic signs     66.74   1.23         600
MSCOCO            35.17   1.08         600

### MatchingNet (`matching`)

In [663]:
matching_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
matching_imagenet_df['# episodes'] = 600
matching_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [45.00, 1.10],
    [52.27, 1.28],
    [48.97, 0.93],
    [62.21, 0.95],
    [64.15, 0.85],
    [42.87, 1.09],
    [33.97, 1.00],
    [80.13, 0.71],
    [47.80, 1.14],
    [34.99, 1.00]
]
matching_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      45.0    1.1         600
Omniglot          52.27   1.28         600
Aircraft          48.97   0.93         600
Birds             62.21   0.95         600
Textures          64.15   0.85         600
QuickDraw         42.87   1.09         600
Fungi             33.97    1.0         600
VGG Flower        80.13   0.71         600
Traffic signs      47.8   1.14         600
MSCOCO            34.99    1.0         600

In [664]:
matching_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
matching_all_df['# episodes'] = 600
matching_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [36.08, 1.00],
    [78.25, 1.01],
    [69.17, 0.96],
    [56.40, 1.00],
    [61.80, 0.74],
    [60.81, 1.03],
    [33.70, 1.04],
    [81.90, 0.72],
    [55.57, 1.08],
    [28.79, 0.96]
]
matching_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     36.08    1.0         600
Omniglot          78.25   1.01         600
Aircraft          69.17   0.96         600
Birds              56.4    1.0         600
Textures           61.8   0.74         600
QuickDraw         60.81   1.03         600
Fungi              33.7   1.04         600
VGG Flower         81.9   0.72         600
Traffic signs     55.57   1.08         600
MSCOCO            28.79   0.96         600

### ProtoNet (`prototypical`)

In [665]:
prototypical_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
prototypical_imagenet_df['# episodes'] = 600
prototypical_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [50.50, 1.08],
    [59.98, 1.35],
    [53.10, 1.00],
    [68.79, 1.01],
    [66.56, 0.83],
    [48.96, 1.08],
    [39.71, 1.11],
    [85.27, 0.77],
    [47.12, 1.10],
    [41.00, 1.10]
]
prototypical_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      50.5   1.08         600
Omniglot          59.98   1.35         600
Aircraft           53.1    1.0         600
Birds             68.79   1.01         600
Textures          66.56   0.83         600
QuickDraw         48.96   1.08         600
Fungi             39.71   1.11         600
VGG Flower        85.27   0.77         600
Traffic signs     47.12    1.1         600
MSCOCO             41.0    1.1         600

In [666]:
prototypical_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
prototypical_all_df['# episodes'] = 600
prototypical_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [44.50, 1.05],
    [79.56, 1.12],
    [71.14, 0.86],
    [67.01, 1.02],
    [65.18, 0.84],
    [64.88, 0.89],
    [40.26, 1.13],
    [86.85, 0.71],
    [46.48, 1.00],
    [39.87, 1.06]
]
prototypical_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      44.5   1.05         600
Omniglot          79.56   1.12         600
Aircraft          71.14   0.86         600
Birds             67.01   1.02         600
Textures          65.18   0.84         600
QuickDraw         64.88   0.89         600
Fungi             40.26   1.13         600
VGG Flower        86.85   0.71         600
Traffic signs     46.48    1.0         600
MSCOCO            39.87   1.06         600

### fo-MAML (`maml`)

In [667]:
maml_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
maml_imagenet_df['# episodes'] = 600
maml_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [45.51, 1.11],
    [55.55, 1.54],
    [56.24, 1.11],
    [63.61, 1.06],
    [68.04, 0.81],
    [43.96, 1.29],
    [32.10, 1.10],
    [81.74, 0.83],
    [50.93, 1.51],
    [35.30, 1.23]
]
maml_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     45.51   1.11         600
Omniglot          55.55   1.54         600
Aircraft          56.24   1.11         600
Birds             63.61   1.06         600
Textures          68.04   0.81         600
QuickDraw         43.96   1.29         600
Fungi              32.1    1.1         600
VGG Flower        81.74   0.83         600
Traffic signs     50.93   1.51         600
MSCOCO             35.3   1.23         600

In [668]:
maml_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
maml_all_df['# episodes'] = 600
maml_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [37.83, 1.01],
    [83.92, 0.95],
    [76.41, 0.69],
    [62.43, 1.08],
    [64.16, 0.83],
    [59.73, 1.10],
    [33.54, 1.11],
    [79.94, 0.84],
    [42.91, 1.31],
    [29.37, 1.08]
]
maml_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     37.83   1.01         600
Omniglot          83.92   0.95         600
Aircraft          76.41   0.69         600
Birds             62.43   1.08         600
Textures          64.16   0.83         600
QuickDraw         59.73    1.1         600
Fungi             33.54   1.11         600
VGG Flower        79.94   0.84         600
Traffic signs     42.91   1.31         600
MSCOCO            29.37   1.08         600

### RelationNet (`relationnet`)

In [669]:
relationnet_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
relationnet_imagenet_df['# episodes'] = 600
relationnet_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [34.69, 1.01],
    [45.35, 1.36],
    [40.73, 0.83],
    [49.51, 1.05],
    [52.97, 0.69],
    [43.30, 1.08],
    [30.55, 1.04],
    [68.76, 0.83],
    [33.67, 1.05],
    [29.15, 1.01]
]
relationnet_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     34.69   1.01         600
Omniglot          45.35   1.36         600
Aircraft          40.73   0.83         600
Birds             49.51   1.05         600
Textures          52.97   0.69         600
QuickDraw          43.3   1.08         600
Fungi             30.55   1.04         600
VGG Flower        68.76   0.83         600
Traffic signs     33.67   1.05         600
MSCOCO            29.15   1.01         600

In [670]:
relationnet_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
relationnet_all_df['# episodes'] = 600
relationnet_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [30.89, 0.93],
    [86.57, 0.79],
    [69.71, 0.83],
    [54.14, 0.99],
    [56.56, 0.73],
    [61.75, 0.97],
    [32.56, 1.08],
    [76.08, 0.76],
    [37.48, 0.93],
    [27.41, 0.89]
]
relationnet_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     30.89   0.93         600
Omniglot          86.57   0.79         600
Aircraft          69.71   0.83         600
Birds             54.14   0.99         600
Textures          56.56   0.73         600
QuickDraw         61.75   0.97         600
Fungi             32.56   1.08         600
VGG Flower        76.08   0.76         600
Traffic signs     37.48   0.93         600
MSCOCO            27.41   0.89         600

### fo-Proto-MAML (`maml_init_with_proto`)

In [671]:
protomaml_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
protomaml_imagenet_df['# episodes'] = 600
protomaml_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [49.53, 1.05],
    [63.37, 1.33],
    [55.95, 0.99],
    [68.66, 0.96],
    [66.49, 0.83],
    [51.52, 1.00],
    [39.96, 1.14],
    [87.15, 0.69],
    [48.83, 1.09],
    [43.74, 1.12],
]
protomaml_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     49.53   1.05         600
Omniglot          63.37   1.33         600
Aircraft          55.95   0.99         600
Birds             68.66   0.96         600
Textures          66.49   0.83         600
QuickDraw         51.52    1.0         600
Fungi             39.96   1.14         600
VGG Flower        87.15   0.69         600
Traffic signs     48.83   1.09         600
MSCOCO            43.74   1.12         600

In [672]:
protomaml_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
protomaml_all_df['# episodes'] = 600
protomaml_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [46.52, 1.05],
    [82.69, 0.97],
    [75.23, 0.76],
    [69.88, 1.02],
    [68.25, 0.81],
    [66.84, 0.94],
    [41.99, 1.17],
    [88.72, 0.67],
    [52.42, 1.08],
    [41.74, 1.13]
]
protomaml_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     46.52   1.05         600
Omniglot          82.69   0.97         600
Aircraft          75.23   0.76         600
Birds             69.88   1.02         600
Textures          68.25   0.81         600
QuickDraw         66.84   0.94         600
Fungi             41.99   1.17         600
VGG Flower        88.72   0.67         600
Traffic signs     52.42   1.08         600
MSCOCO            41.74   1.13         600

## Results from Requeima et al. (2019)

In [673]:
ref = ("Requeima et al. (2019)",
       "James Requeima, Jonathan Gordon, John Bronskill, Sebastian Nowozin, "
       "Richard E. Turner; "
       "[_Fast and Flexible Multi-Task Classification Using Conditional Neural "
       "Adaptive Processes_](https://arxiv.org/abs/1906.07697); "
       "NeurIPS 2019.")
references.append(ref)
# display.display(display.Markdown(ref[1]))

### CNAPs (`cnaps`)

In [674]:
cnaps_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
cnaps_all_df['# episodes'] = 600
cnaps_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [50.8, 1.1],
    [91.7, 0.5],
    [83.7, 0.6],
    [73.6, 0.9],
    [59.5, 0.7],
    [74.7, 0.8],
    [50.2, 1.1],
    [88.9, 0.5],
    [56.5, 1.1],
    [39.4, 1.0]
]
cnaps_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      50.8    1.1         600
Omniglot           91.7    0.5         600
Aircraft           83.7    0.6         600
Birds              73.6    0.9         600
Textures           59.5    0.7         600
QuickDraw          74.7    0.8         600
Fungi              50.2    1.1         600
VGG Flower         88.9    0.5         600
Traffic signs      56.5    1.1         600
MSCOCO             39.4    1.0         600

## Results from Baik et al. (2020)

In [675]:
ref = ("Baik et al. (2020)",
       "Sungyong Baik, Myungsub Choi, Janghoon Choi, Heewon Kim, Kyoung Mu Lee; "
       "[_Meta-Learning with Adaptive Hyperparameters_]"
       "(https://papers.nips.cc/paper/2020/hash/ee89223a2b625b5152132ed77abbcc79-Abstract.html); "
       "NeurIPS 2020.")
references.append(ref)
# display.display(display.Markdown(ref[1]))

### ALFA + fo-Proto-MAML (`alfa_protomaml`)

In [676]:
alfa_protomaml_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
alfa_protomaml_imagenet_df['# episodes'] = 600
alfa_protomaml_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [52.80, 1.11],
    [61.87, 1.51],
    [63.43, 1.10],
    [69.75, 1.05],
    [70.78, 0.88],
    [59.17, 1.16],
    [41.49, 1.17],
    [85.96, 0.77],
    [60.78, 1.29],
    [48.11, 1.14]
]
alfa_protomaml_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      52.8   1.11         600
Omniglot          61.87   1.51         600
Aircraft          63.43    1.1         600
Birds             69.75   1.05         600
Textures          70.78   0.88         600
QuickDraw         59.17   1.16         600
Fungi             41.49   1.17         600
VGG Flower        85.96   0.77         600
Traffic signs     60.78   1.29         600
MSCOCO            48.11   1.14         600

### ALFA + fo-MAML (`alfa_maml`)
Not included in the global table as it performs worse than ALFA + fo-Proto-MAML overall, but provided here for reference.

In [677]:
alfa_maml_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
alfa_maml_imagenet_df['# episodes'] = 600
alfa_maml_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [51.09, 1.17],
    [67.89, 1.43],
    [66.34, 1.17],
    [67.67, 1.06],
    [65.34, 0.95],
    [60.53, 1.13],
    [37.41, 1.00],
    [84.28, 0.97],
    [60.86, 1.43],
    [40.05, 1.14]
]
alfa_maml_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     51.09   1.17         600
Omniglot          67.89   1.43         600
Aircraft          66.34   1.17         600
Birds             67.67   1.06         600
Textures          65.34   0.95         600
QuickDraw         60.53   1.13         600
Fungi             37.41    1.0         600
VGG Flower        84.28   0.97         600
Traffic signs     60.86   1.43         600
MSCOCO            40.05   1.14         600

## Results from Doersch et al. (2020)
Carl Doersch, Ankush Gupta, Andrew Zisserman,
_CrossTransformers: spatially-aware few-shot transfer_,
NeurIPS 2020

In [678]:
ref = ("Doersch et al. (2020)",
       "Carl Doersch, Ankush Gupta, Andrew Zisserman; "
       "[_CrossTransformers: spatially-aware few-shot transfer_]"
       "(https://arxiv.org/abs/2007.11498); "
       "NeurIPS 2020.")
references.append(ref)
# display.display(display.Markdown(ref[1]))

### ProtoNet large (`protonet_large`)
Larger-scale prototypical networks, including:
- 224x224 input size
- ResNet-34 backbone
- SimCLR Episodes

In [679]:
protonet_large_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
protonet_large_imagenet_df['# episodes'] = 600
protonet_large_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
     [53.69, 1.07],
     [68.50, 1.27],
     [58.04, 0.96],
     [74.07, 0.92],
     [68.76, 0.77],
     [53.30, 1.06],
     [40.73, 1.15],
     [86.96, 0.73],
     [58.11, 1.05],
     [41.70, 1.08],
]
protonet_large_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     53.69   1.07         600
Omniglot           68.5   1.27         600
Aircraft          58.04   0.96         600
Birds             74.07   0.92         600
Textures          68.76   0.77         600
QuickDraw          53.3   1.06         600
Fungi             40.73   1.15         600
VGG Flower        86.96   0.73         600
Traffic signs     58.11   1.05         600
MSCOCO             41.7   1.08         600

### CrossTransformers (`ctx`)

CrossTransformers network with:
- 224x224 input size
- ResNet-34 backbone
- SimCLR episodes
- 14x14 feature grid
- BOHB-inspired data augmentation

In [680]:
ctx_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
ctx_imagenet_df['# episodes'] = 600
ctx_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
      [62.76, 0.99],
      [82.21, 1.00],
      [79.49, 0.89],
      [80.63, 0.88],
      [75.57, 0.64],
      [72.68, 0.82],
      [51.58, 1.11],
      [95.34, 0.37],
      [82.65, 0.76],
      [59.90, 1.02],
]
ctx_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     62.76   0.99         600
Omniglot          82.21    1.0         600
Aircraft          79.49   0.89         600
Birds             80.63   0.88         600
Textures          75.57   0.64         600
QuickDraw         72.68   0.82         600
Fungi             51.58   1.11         600
VGG Flower        95.34   0.37         600
Traffic signs     82.65   0.76         600
MSCOCO             59.9   1.02         600

## Results from Saikia et al. (2020)
Tonmoy Saikia, Thomas Brox, Cordelia Schmid, _Optimized Generic Feature Learning for Few-shot Classification across Domains_, arXiv 2020

In [681]:
ref = ("Saikia et al. (2020)",
       "Tonmoy Saikia, Thomas Brox, Cordelia Schmid; "
       "[_Optimized Generic Feature Learning for Few-shot Classification "
       "across Domains_]"
       "(https://arxiv.org/abs/2001.07926); "
       "arXiv 2020.")
references.append(ref)
# display.display(display.Markdown(ref[1]))

### BOHB (`bohb`)
Validated on _S1_ (ImageNet) only, nearest-centroid classifier (NC).

In [682]:
bohb_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
bohb_imagenet_df['# episodes'] = 600
bohb_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [51.92, 1.05],
    [67.57, 1.21],
    [54.12, 0.90],
    [70.69, 0.90],
    [68.34, 0.76],
    [50.33, 1.04],
    [41.38, 1.12],
    [87.34, 0.59],
    [51.80, 1.04],
    [48.03, 0.99],
]
bohb_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     51.92   1.05         600
Omniglot          67.57   1.21         600
Aircraft          54.12    0.9         600
Birds             70.69    0.9         600
Textures          68.34   0.76         600
QuickDraw         50.33   1.04         600
Fungi             41.38   1.12         600
VGG Flower        87.34   0.59         600
Traffic signs      51.8   1.04         600
MSCOCO            48.03   0.99         600

## Results from Dvornik et al. (2020)

In [683]:
ref = ("Dvornik et al. (2020)",
       "Nikita Dvornik, Cordelia Schmid, Julien Mairal; "
       "[_Selecting Relevant Features from a Multi-domain Representation for "
       "Few-shot Classification_](https://arxiv.org/abs/2003.09338); "
       "ECCV 2020.")
references.append(ref)
# display.display(display.Markdown(ref[1]))

### SUR (`sur`)

In [684]:
sur_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
sur_all_df['# episodes'] = 600
sur_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [56.1, 1.1],
    [93.1, 0.5],
    [84.6, 0.7],
    [70.6, 1.0],
    [71.0, 0.8],
    [81.3, 0.6],
    [64.2, 1.1],
    [82.8, 0.8],
    [53.4, 1.0],
    [50.1, 1.0],
]
sur_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      56.1    1.1         600
Omniglot           93.1    0.5         600
Aircraft           84.6    0.7         600
Birds              70.6    1.0         600
Textures           71.0    0.8         600
QuickDraw          81.3    0.6         600
Fungi              64.2    1.1         600
VGG Flower         82.8    0.8         600
Traffic signs      53.4    1.0         600
MSCOCO             50.1    1.0         600

### SUR-pnf (`sur_pnf`)
SUR with parametric network family, also referred as "SUR-pf".

In [685]:
sur_pnf_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
sur_pnf_all_df['# episodes'] = 600
sur_pnf_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [56.0, 1.1],
    [90.0, 0.6],
    [79.7, 0.8],
    [75.9, 0.9],
    [72.5, 0.7],
    [76.7, 0.7],
    [49.8, 1.1],
    [90.0, 0.6],
    [52.2, 0.8],
    [50.2, 1.1],
]
sur_pnf_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      56.0    1.1         600
Omniglot           90.0    0.6         600
Aircraft           79.7    0.8         600
Birds              75.9    0.9         600
Textures           72.5    0.7         600
QuickDraw          76.7    0.7         600
Fungi              49.8    1.1         600
VGG Flower         90.0    0.6         600
Traffic signs      52.2    0.8         600
MSCOCO             50.2    1.1         600

## Results from Bateni et al. (2020)

In [686]:
ref = ("Bateni et al. (2020)",
       "Peyman Bateni, Raghav Goyal, Vaden Masrani, Frank Wood, Leonid Sigal; "
       "[_Improved Few-Shot Visual Classification_]"
       "(https://openaccess.thecvf.com/content_CVPR_2020/html/Bateni_Improved_Few-Shot_Visual_Classification_CVPR_2020_paper.html); "
       "CVPR 2020.")
references.append(ref)
# display.display(display.Markdown(ref[1]))

### Simple CNAPS (`simple_cnaps`)

In [687]:
simple_cnaps_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
simple_cnaps_all_df['# episodes'] = 600
simple_cnaps_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [56.5, 1.1],
    [91.9, 0.6],
    [83.8, 0.6],
    [76.1, 0.9],
    [70.0, 0.8],
    [78.3, 0.7],
    [49.1, 1.2],
    [91.3, 0.6],
    [59.2, 1.0],
    [42.4, 1.1],
]
simple_cnaps_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      56.5    1.1         600
Omniglot           91.9    0.6         600
Aircraft           83.8    0.6         600
Birds              76.1    0.9         600
Textures           70.0    0.8         600
QuickDraw          78.3    0.7         600
Fungi              49.1    1.2         600
VGG Flower         91.3    0.6         600
Traffic signs      59.2    1.0         600
MSCOCO             42.4    1.1         600

## Results from Bateni et al. (2022a)

In [688]:
ref = ("Bateni et al. (2022a)",
       "Peyman Bateni, Jarred Barber, Jan-Willem van de Meent, Frank Wood; "
       "[_Enhancing Few-Shot Image Classification with Unlabelled Examples_]"
       "(https://openaccess.thecvf.com/content/WACV2022/html/Bateni_Enhancing_Few-Shot_Image_Classification_With_Unlabelled_Examples_WACV_2022_paper.html); "
       "WACV 2022.")
references.append(ref)
# display.display(display.Markdown(ref[1]))

### Transductive CNAPS (`transductive_cnaps`)

In [689]:
transductive_cnaps_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
transductive_cnaps_all_df['# episodes'] = 600
transductive_cnaps_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [57.9, 1.1],
    [94.3, 0.4],
    [84.7, 0.5],
    [78.8, 0.7],
    [66.2, 0.8],
    [77.9, 0.6],
    [48.9, 1.2],
    [92.3, 0.4],
    [59.7, 1.1],
    [42.5, 1.1],
]
transductive_cnaps_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      57.9    1.1         600
Omniglot           94.3    0.4         600
Aircraft           84.7    0.5         600
Birds              78.8    0.7         600
Textures           66.2    0.8         600
QuickDraw          77.9    0.6         600
Fungi              48.9    1.2         600
VGG Flower         92.3    0.4         600
Traffic signs      59.7    1.1         600
MSCOCO             42.5    1.1         600

## Results from Liu et al. (2021)

Lu Liu, William Hamilton, Guodong Long, Jing Jiang, Hugo Larochelle,
_A Universal Representation Transformer Layer for Few-Shot Image Classification_, ICLR 2021

In [690]:
ref = ("Liu et al. (2021a)",
       "Lu Liu, William Hamilton, Guodong Long, Jing Jiang, Hugo Larochelle; "
       "[_Universal Representation Transformer Layer for Few-Shot Image "
       "Classification_](https://arxiv.org/abs/2006.11702); "
       "ICLR 2021.")
references.append(ref)
# display.display(display.Markdown(ref[1]))

### URT (`urt`)

In [691]:
urt_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
urt_all_df['# episodes'] = 600
urt_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [55.7, 1.0],
    [94.4, 0.4],
    [85.8, 0.6],
    [76.3, 0.8],
    [71.8, 0.7],
    [82.5, 0.6],
    [63.5, 1.0],
    [88.2, 0.6],
    [51.1, 1.1],
    [52.2, 1.1],
]
urt_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      55.7    1.0         600
Omniglot           94.4    0.4         600
Aircraft           85.8    0.6         600
Birds              76.3    0.8         600
Textures           71.8    0.7         600
QuickDraw          82.5    0.6         600
Fungi              63.5    1.0         600
VGG Flower         88.2    0.6         600
Traffic signs      51.1    1.1         600
MSCOCO             52.2    1.1         600

### URT-pf (`urt-pf`)

In [692]:
urt_pf_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
urt_pf_all_df['# episodes'] = 600
urt_pf_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [55.5, 1.1],
    [90.2, 0.6],
    [79.8, 0.7],
    [77.5, 0.8],
    [73.5, 0.7],
    [75.8, 0.7],
    [48.1, 0.9],
    [91.9, 0.5],
    [52.0, 1.4],
    [52.1, 1.0],
]
urt_pf_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      55.5    1.1         600
Omniglot           90.2    0.6         600
Aircraft           79.8    0.7         600
Birds              77.5    0.8         600
Textures           73.5    0.7         600
QuickDraw          75.8    0.7         600
Fungi              48.1    0.9         600
VGG Flower         91.9    0.5         600
Traffic signs      52.0    1.4         600
MSCOCO             52.1    1.0         600

## Results from Triantafillou et al. (2021)

Eleni Triantafillou, Hugo Larochelle, Richard Zemel, Vincent Dumoulin. Learning a Universal Template for Few-shot Dataset Generalization. ICML 2021.

In [693]:
ref = ("Triantafillou et al. (2021)",
       "Eleni Triantafillou, Hugo Larochelle, Richard Zemel, Vincent Dumoulin; "
       "[_Learning a Universal Template for Few-shot Dataset Generalization_]"
       "(https://arxiv.org/abs/2105.07029); "
       "ICML 2021.")
references.append(ref)
# display.display(display.Markdown(ref[1]))

### FLUTE (`FLUTE`)

In [694]:
flute_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
flute_all_df['# episodes'] = 600
flute_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [51.8, 1.1],
    [93.2, 0.5],
    [87.2, 0.5],
    [79.2, 0.8],
    [68.8, 0.8],
    [79.5, 0.7],
    [58.1, 1.1],
    [91.6, 0.6],
    [58.4, 1.1],
    [50.0, 1.0],
]
flute_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      51.8    1.1         600
Omniglot           93.2    0.5         600
Aircraft           87.2    0.5         600
Birds              79.2    0.8         600
Textures           68.8    0.8         600
QuickDraw          79.5    0.7         600
Fungi              58.1    1.1         600
VGG Flower         91.6    0.6         600
Traffic signs      58.4    1.1         600
MSCOCO             50.0    1.0         600

## Results from Li et al. (2021a)
Wei-Hong Li, Xialei Liu, Hakan Bilen. Universal Representation Learning from Multiple Domains for Few-shot Classification. ICCV 2021.

In [695]:
ref = ("Li et al. (2021a)",
       "Wei-Hong Li, Xialei Liu, Hakan Bilen; "
       "[_Universal Representation Learning from Multiple Domains for Few-shot Classification_]"
       "(https://arxiv.org/pdf/2103.13841.pdf); "
       "ICCV 2021.")
references.append(ref)
# display.display(display.Markdown(ref[1]))

In [696]:
url_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
url_all_df['# episodes'] = 600
url_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [57.51, 1.08],
    [94.51, 0.41],
    [88.59, 0.46],
    [80.54, 0.69],
    [76.17, 0.67],
    [81.94, 0.56],
    [68.75, 0.95],
    [92.11, 0.48],
    [63.34, 1.19],
    [54.03, 0.96],
]
url_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     57.51   1.08         600
Omniglot          94.51   0.41         600
Aircraft          88.59   0.46         600
Birds             80.54   0.69         600
Textures          76.17   0.67         600
QuickDraw         81.94   0.56         600
Fungi             68.75   0.95         600
VGG Flower        92.11   0.48         600
Traffic signs     63.34   1.19         600
MSCOCO            54.03   0.96         600

## Results from Li et al. (2021b)
Wei-Hong Li, Xialei Liu, Hakan Bilen. Cross-domain Few-shot Learning with Task-specific Adapters. arXiv 2021.

In [697]:
ref = ("Li et al. (2021b)",
       "Wei-Hong Li, Xialei Liu, Hakan Bilen; "
       "[_Cross-domain Few-shot Learning with Task-specific Adapters_]"
       "(https://arxiv.org/pdf/2107.00358.pdf); "
       "arXiv 2021.")
references.append(ref)
# display.display(display.Markdown(ref[1]))

### Task-specific Adapters (`tsa`)

In [698]:
tsa_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
tsa_all_df['# episodes'] = 600
tsa_all_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [57.35, 1.05],
    [94.96, 0.38],
    [89.33, 0.44],
    [81.42, 0.74],
    [76.74, 0.72],
    [82.01, 0.57],
    [67.40, 0.99],
    [92.18, 0.52],
    [83.55, 0.90],
    [55.75, 1.06],
]
tsa_all_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     57.35   1.05         600
Omniglot          94.96   0.38         600
Aircraft          89.33   0.44         600
Birds             81.42   0.74         600
Textures          76.74   0.72         600
QuickDraw         82.01   0.57         600
Fungi              67.4   0.99         600
VGG Flower        92.18   0.52         600
Traffic signs     83.55    0.9         600
MSCOCO            55.75   1.06         600

### Task-specific Adapters with ResNet18 (`tsa_resnet18`)
Task-specific Adapters with:

* 84x84 input size
* ResNet-18 backbone
* adapters in matrix form with residual connections

In [699]:
tsa_resnet18_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
tsa_resnet18_imagenet_df['# episodes'] = 600
tsa_resnet18_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [59.5, 1.1], 
    [78.2, 1.2], 
    [72.2, 1.0], 
    [74.9, 0.9], 
    [77.3, 0.7], 
    [67.6, 0.9], 
    [44.7, 1.0], 
    [90.9, 0.6], 
    [82.5, 0.8], 
    [59.0, 1.0], 
]
tsa_resnet18_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      59.5    1.1         600
Omniglot           78.2    1.2         600
Aircraft           72.2    1.0         600
Birds              74.9    0.9         600
Textures           77.3    0.7         600
QuickDraw          67.6    0.9         600
Fungi              44.7    1.0         600
VGG Flower         90.9    0.6         600
Traffic signs      82.5    0.8         600
MSCOCO             59.0    1.0         600

### Task-specific Adapters with ResNet34 (`tsa_resnet34`)
Task-specific Adapters with:

224x224 input size
ResNet-34 backbone
adapters in matrix form with residual connections

In [700]:
tsa_resnet34_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
tsa_resnet34_imagenet_df['# episodes'] = 600
tsa_resnet34_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [63.73, 0.99],
    [82.58, 1.11],
    [80.13, 1.01],
    [83.39, 0.80],
    [79.61, 0.68],
    [71.03, 0.84],
    [51.38, 1.17],
    [94.05, 0.45],
    [81.71, 0.95],
    [61.67, 0.95],
]
tsa_resnet34_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)     63.73   0.99         600
Omniglot          82.58   1.11         600
Aircraft          80.13   1.01         600
Birds             83.39    0.8         600
Textures          79.61   0.68         600
QuickDraw         71.03   0.84         600
Fungi             51.38   1.17         600
VGG Flower        94.05   0.45         600
Traffic signs     81.71   0.95         600
MSCOCO            61.67   0.95         600

## Results from Liu et al. (2021)

Yanbin Liu, Juho Lee, Linchao Zhu, Ling Chen, Humphrey Shi and Yi Yang. A Multi-Mode Modulator for Multi-Domain Few-Shot Classification. ICCV 2021.

In [701]:
ref = ("Liu et al. (2021b)",
       "Yanbin Liu, Juho Lee, Linchao Zhu, Ling Chen, Humphrey Shi, Yi Yang; "
       "[_A Multi-Mode Modulator for Multi-Domain Few-Shot Classification_]"
       "(https://openaccess.thecvf.com/content/ICCV2021/papers/Liu_A_Multi-Mode_Modulator_for_Multi-Domain_Few-Shot_Classification_ICCV_2021_paper.pdf); "
       "ICCV 2021.")
references.append(ref)

In [702]:
triM_all_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
triM_all_df['# episodes'] = 600
triM_all_df.loc[1:, ['mean (%)', '95% CI']] = [
    [58.6, 1.0],
    [92.0, 0.6],
    [82.8, 0.7],
    [75.3, 0.8],
    [71.2, 0.8],
    [77.3, 0.7],
    [48.5, 1.0],
    [90.5, 0.5],
    [63.0, 1.0],
    [52.8, 1.1]
]
triM_all_df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:719: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  indexer = self._get_setitem_indexer(key)

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      58.6    1.0         600
Omniglot           92.0    0.6         600
Aircraft           82.8    0.7         600
Birds              75.3    0.8         600
Textures           71.2    0.8         600
QuickDraw          77.3    0.7         600
Fungi              48.5    1.0         600
VGG Flower         90.5    0.5         600
Traffic signs      63.0    1.0         600
MSCOCO             52.8    1.1         600

## Results from Bateni et al. (2022b)

Peyman Bateni, Jarred Barber, Raghav Goyal, Vaden Masrani, Jan-Willem van de Meent, Leonid Sigal, Frank Wood. Beyond Simple Meta-Learning: Multi-Purpose Models for Multi-Domain, Active and Continual Few-Shot Learning. arXiv.

In [703]:
ref = ("Bateni et al. (2022b)",
       "Bateni Peyman, Jarred Barber, Raghav Goyal, Vaden Masrani, Jan-Willem van de Meent, Leonid Sigal, and Frank Wood.; "
       "[_Beyond Simple Meta-Learning: Multi-Purpose Models for Multi-Domain, Active and Continual Few-Shot Learning._]"
       "(https://arxiv.org/abs/2201.05151); "
       "arXiv 2022.")
references.append(ref)

In [704]:
simple_cnaps_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
simple_cnaps_imagenet_df['# episodes'] = 600
simple_cnaps_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [54.8, 1.2],
    [62.0, 1.3],
    [49.2, 0.9],
    [66.5, 1.0],
    [71.6, 0.7],
    [56.6, 1.0],
    [37.5, 1.2],
    [82.1, 0.9],
    [63.1, 1.1],
    [45.8, 1.0],
]
simple_cnaps_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      54.8    1.2         600
Omniglot           62.0    1.3         600
Aircraft           49.2    0.9         600
Birds              66.5    1.0         600
Textures           71.6    0.7         600
QuickDraw          56.6    1.0         600
Fungi              37.5    1.2         600
VGG Flower         82.1    0.9         600
Traffic signs      63.1    1.1         600
MSCOCO             45.8    1.0         600

In [705]:
transductive_cnaps_imagenet_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
transductive_cnaps_imagenet_df['# episodes'] = 600
transductive_cnaps_imagenet_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [
    [54.1, 1.1],
    [62.9, 1.3],
    [48.4, 0.9],
    [67.3, 0.9],
    [72.5, 0.7],
    [58.0, 1.0],
    [37.7, 1.1],
    [82.8, 0.8],
    [61.8, 1.1],
    [45.8, 1.0],
]
transductive_cnaps_imagenet_df

               mean (%) 95% CI  # episodes
ILSVRC (valid)      NaN    NaN         600
ILSVRC (test)      54.1    1.1         600
Omniglot           62.9    1.3         600
Aircraft           48.4    0.9         600
Birds              67.3    0.9         600
Textures           72.5    0.7         600
QuickDraw          58.0    1.0         600
Fungi              37.7    1.1         600
VGG Flower         82.8    0.8         600
Traffic signs      61.8    1.1         600
MSCOCO             45.8    1.0         600

## Template to add a new paper

```
ref = ("Author et al. (year)",
       "First Author, Second Author, Last Author; "
       "[_Title of Paper_](https://paper.url/); "
       "Venue year.")
references.append(ref)
# display.display(display.Markdown(ref[1]))
```

### Template to add a new model

```
<model_name>_<train_source>_df = pd.DataFrame(
    columns=['mean (%)', '95% CI', '# episodes'],
    index=datasets
)
<model_name>_<train_source>_df['# episodes'] = ...
<model_name>_<train_source>_df.loc[datasets[1:], ['mean (%)', '95% CI']] = [...]
```

## Aggregate in table

In [706]:
imagenet_dfs = {
    'k-NN': baseline_imagenet_df,
    'Finetune': baselineft_imagenet_df,
    'MatchingNet': matching_imagenet_df,
    'ProtoNet': prototypical_imagenet_df,
    'fo-MAML': maml_imagenet_df,
    'RelationNet': relationnet_imagenet_df,
    'fo-Proto-MAML': protomaml_imagenet_df,
    'ALFA+fo-Proto-MAML': alfa_protomaml_imagenet_df,
    'ProtoNet (large)': protonet_large_imagenet_df,
    'CTX': ctx_imagenet_df,
    'BOHB': bohb_imagenet_df,
    'SimpleCNAPS': simple_cnaps_imagenet_df,
    'TransductiveCNAPS': transductive_cnaps_imagenet_df,
    'TSA_resnet18': tsa_resnet18_imagenet_df,
    'TSA_resnet34': tsa_resnet34_imagenet_df,
}

In [707]:
imagenet_df = pd.concat(
    imagenet_dfs.values(),
    axis=1,
    keys=imagenet_dfs.keys())
imagenet_df

                   k-NN                    ... TSA_resnet34
               mean (%) 95% CI # episodes  ...     mean (%) 95% CI # episodes
ILSVRC (valid)      NaN    NaN        600  ...          NaN    NaN        600
ILSVRC (test)     41.03   1.01        600  ...        63.73   0.99        600
Omniglot          37.07   1.15        600  ...        82.58   1.11        600
Aircraft          46.81   0.89        600  ...        80.13   1.01        600
Birds             50.13    1.0        600  ...        83.39    0.8        600
Textures          66.36   0.75        600  ...        79.61   0.68        600
QuickDraw         32.06   1.08        600  ...        71.03   0.84        600
Fungi             36.16   1.02        600  ...        51.38   1.17        600
VGG Flower         83.1   0.68        600  ...        94.05   0.45        600
Traffic signs     44.59   1.19        600  ...        81.71   0.95        600
MSCOCO            30.38   0.99        600  ...        61.67   0.95        600

[11 rows x 45 columns]

In [708]:
all_dfs = {
    'k-NN': baseline_all_df,
    'Finetune': baselineft_all_df,
    'MatchingNet': matching_all_df,
    'ProtoNet': prototypical_all_df,
    'fo-MAML': maml_all_df,
    'RelationNet': relationnet_all_df,
    'fo-Proto-MAML': protomaml_all_df,
    'CNAPs': cnaps_all_df,
    'SUR': sur_all_df,
    'SUR-pnf': sur_pnf_all_df,
    'SimpleCNAPS': simple_cnaps_all_df,
    'TransductiveCNAPS': transductive_cnaps_all_df,
    'URT': urt_all_df,
    'URT-pf': urt_pf_all_df,
    'FLUTE': flute_all_df,
    'URL': url_all_df,
    'TSA': tsa_all_df,
    'TriM': triM_all_df,
}
all_df = pd.concat(
    all_dfs.values(),
    axis=1,
    keys=all_dfs.keys())
all_df

                   k-NN                    ...     TriM
               mean (%) 95% CI # episodes  ... mean (%) 95% CI # episodes
ILSVRC (valid)      NaN    NaN        600  ...      NaN    NaN        600
ILSVRC (test)     38.55   0.94        600  ...     58.6    1.0        600
Omniglot           74.6   1.08        600  ...     92.0    0.6        600
Aircraft          64.98   0.82        600  ...     82.8    0.7        600
Birds             66.35   0.92        600  ...     75.3    0.8        600
Textures          63.58   0.79        600  ...     71.2    0.8        600
QuickDraw         44.88   1.05        600  ...     77.3    0.7        600
Fungi             37.12   1.06        600  ...     48.5    1.0        600
VGG Flower        83.47   0.61        600  ...     90.5    0.5        600
Traffic signs     40.11    1.1        600  ...     63.0    1.0        600
MSCOCO            29.55   0.96        600  ...     52.8    1.1        600

[11 rows x 54 columns]

In [709]:
models_df = pd.DataFrame.from_dict(
    orient='index',
    columns=["ref"],
    data={
        'k-NN': 'Triantafillou et al. (2020)',
        'Finetune': 'Triantafillou et al. (2020)',
        'MatchingNet': 'Triantafillou et al. (2020)',
        'ProtoNet': 'Triantafillou et al. (2020)',
        'fo-MAML': 'Triantafillou et al. (2020)',
        'RelationNet': 'Triantafillou et al. (2020)',
        'fo-Proto-MAML': 'Triantafillou et al. (2020)',
        'CNAPs': 'Requeima et al. (2019)',
        'ALFA+fo-Proto-MAML': 'Baik et al. (2020)',
        'ProtoNet (large)': 'Doersch et al. (2020)',
        'CTX': 'Doersch et al. (2020)',
        'BOHB': 'Saikia et al. (2020)',
        'SUR': 'Dvornik et al. (2020)',
        'SUR-pnf': 'Dvornik et al. (2020)',
        'SimpleCNAPS': 'Bateni et al. (2020)',
        'TransductiveCNAPS': 'Bateni et al. (2022a)',
        'URT': 'Liu et al. (2021a)',
        'URT-pf': 'Liu et al. (2021a)',
        'FLUTE': 'Triantafillou et al. (2021)',
        'URL': 'Li et al. (2021a)',
        'TSA': 'Li et al. (2021b)',
        'TSA_resnet18': 'Li et al. (2021b)',
        'TSA_resnet34': 'Li et al. (2021b)',
        'TriM': 'Liu et al. (2021b)',
        'SimpleCNAPS': 'Bateni et al. (2022b)',
        'TransductiveCNAPS': 'Bateni et al. (2022b)',
        })
models_df

                                            ref
k-NN                Triantafillou et al. (2020)
Finetune            Triantafillou et al. (2020)
MatchingNet         Triantafillou et al. (2020)
ProtoNet            Triantafillou et al. (2020)
fo-MAML             Triantafillou et al. (2020)
RelationNet         Triantafillou et al. (2020)
fo-Proto-MAML       Triantafillou et al. (2020)
CNAPs                    Requeima et al. (2019)
ALFA+fo-Proto-MAML           Baik et al. (2020)
ProtoNet (large)          Doersch et al. (2020)
CTX                       Doersch et al. (2020)
BOHB                       Saikia et al. (2020)
SUR                       Dvornik et al. (2020)
SUR-pnf                   Dvornik et al. (2020)
SimpleCNAPS               Bateni et al. (2022b)
TransductiveCNAPS         Bateni et al. (2022b)
URT                          Liu et al. (2021a)
URT-pf                       Liu et al. (2021a)
FLUTE               Triantafillou et al. (2021)
URL                           Li et al. (2021a)
TSA                           Li et al. (2021b)
TSA_resnet18                  Li et al. (2021b)
TSA_resnet34                  Li et al. (2021b)
TriM                         Liu et al. (2021b)

### Add stddev

In [710]:
def add_stddev(df):
  # Extract original order of labels
  datasets = df.index
  models = df.columns.levels[0]
  # Have only one result (mean, CI, ...) per row
  stacked_df = df.stack(0)
  # Add 'stddev' as column
  stacked_df['stddev'] = stacked_df['95% CI'] * np.sqrt(stacked_df['# episodes']) / 1.96
  # Reshape and put back in original order
  new_df = stacked_df.unstack().swaplevel(0, 1, axis=1)
  new_df = new_df.loc[datasets][models]
  return new_df

In [711]:
imagenet_df = add_stddev(imagenet_df)
imagenet_df

                     k-NN                  ... TSA_resnet34
               # episodes 95% CI mean (%)  ...       95% CI mean (%)     stddev
ILSVRC (valid)        600    NaN      NaN  ...          NaN      NaN        NaN
ILSVRC (test)         600   1.01    41.03  ...         0.99    63.73  12.372423
Omniglot              600   1.15    37.07  ...         1.11    82.58   13.87211
Aircraft              600   0.89    46.81  ...         1.01    80.13  12.622371
Birds                 600    1.0    50.13  ...          0.8    83.39   9.997917
Textures              600   0.75    66.36  ...         0.68    79.61    8.49823
QuickDraw             600   1.08    32.06  ...         0.84    71.03  10.497813
Fungi                 600   1.02    36.16  ...         1.17    51.38  14.621954
VGG Flower            600   0.68     83.1  ...         0.45    94.05   5.623828
Traffic signs         600   1.19    44.59  ...         0.95    81.71  11.872527
MSCOCO                600   0.99    30.38  ...         0.95    61.67  11.872527

[11 rows x 60 columns]

In [712]:
all_df = add_stddev(all_df)
all_df

                     k-NN                  ...   TriM
               # episodes 95% CI mean (%)  ... 95% CI mean (%)     stddev
ILSVRC (valid)        600    NaN      NaN  ...    NaN      NaN        NaN
ILSVRC (test)         600   0.94    38.55  ...    1.0     58.6  12.497397
Omniglot              600   1.08     74.6  ...    0.6     92.0   7.498438
Aircraft              600   0.82    64.98  ...    0.7     82.8   8.748178
Birds                 600   0.92    66.35  ...    0.8     75.3   9.997917
Textures              600   0.79    63.58  ...    0.8     71.2   9.997917
QuickDraw             600   1.05    44.88  ...    0.7     77.3   8.748178
Fungi                 600   1.06    37.12  ...    1.0     48.5  12.497397
VGG Flower            600   0.61    83.47  ...    0.5     90.5   6.248698
Traffic signs         600    1.1    40.11  ...    1.0     63.0  12.497397
MSCOCO                600   0.96    29.55  ...    1.1     52.8  13.747136

[11 rows x 72 columns]

### Add rankings

In [713]:
def is_difference_significant(best_stats, candidate_stats):
  # compute a 95% confidence for the difference of means.
  ci = 1.96 * np.sqrt((best_stats['stddev'] ** 2) / best_stats['# episodes'] +
                      (candidate_stats['stddev'] ** 2) / candidate_stats['# episodes'])
  diff_of_means = best_stats['mean (%)'] - candidate_stats['mean (%)']
  return np.abs(diff_of_means) > ci

In [714]:
def compute_ranks(dataset_series):
  dataset_df = dataset_series.unstack()
  n_models = len(dataset_df.index)
  remaining_models = list(dataset_df.index)
  next_available_rank = 1
  ranks = {}
  # Iteratively pick the best models, then all the ones statistically equivalent
  while remaining_models:
    accuracies = dataset_df.loc[remaining_models]['mean (%)'].astype('d')
    # best_model = accuracies.idxmax(axis=1)  #previous
    best_model = accuracies.idxmax(axis=0)
    best_stats = dataset_df.loc[best_model]
    tied_models = [best_model]
    potential_tied_models = [model for model in remaining_models
                             if model != best_model]
    for candidate in potential_tied_models:
      candidate_stats = dataset_df.loc[candidate]
      if not is_difference_significant(best_stats, candidate_stats):
        tied_models.append(candidate)

    n_ties = len(tied_models)
    # All tied models share the same rank, which is the average of the next
    # `n_ties` available ranks (the ranks they would have without the ties), or
    # next_available_rank + (1 + ... + (n_ties - 1)) / n_ties, which gives:
    shared_rank = next_available_rank + (n_ties - 1) / 2
    next_available_rank += n_ties
    for model in tied_models:
      ranks[model] = shared_rank

    # Remove picked models for next iteration
    remaining_models = [model for model in remaining_models
                        if model not in tied_models]
  return pd.Series(ranks, name='rank')

In [715]:
def add_ranks(df):
  # Get ranks as a data frame (ignore "ILSVRC (valid)")
  ranks = df[1:].apply(compute_ranks, axis=1)
  # Set the columns as (model, 'rank') Multi-index
  ranks = pd.concat([ranks], axis=1, keys=['rank']).swaplevel(0, 1, axis=1)
  # Concatenate with the original dataframe and defrag columns
  new_df = pd.concat([df, ranks], axis=1)[df.columns.levels[0]]
  return new_df

In [716]:
imagenet_df = add_ranks(imagenet_df)
imagenet_df

               ALFA+fo-Proto-MAML                  ...     k-NN
                       # episodes 95% CI mean (%)  ... mean (%)     stddev  rank
ILSVRC (valid)                600    NaN      NaN  ...      NaN        NaN   NaN
ILSVRC (test)                 600   1.11     52.8  ...    41.03  12.622371  14.0
Omniglot                      600   1.51    61.87  ...    37.07  14.372006  15.0
Aircraft                      600    1.1    63.43  ...    46.81  11.122683  14.0
Birds                         600   1.05    69.75  ...    50.13  12.497397  14.5
Textures                      600   0.88    70.78  ...    66.36   9.373047  12.0
QuickDraw                     600   1.16    59.17  ...    32.06  13.497188  15.0
Fungi                         600   1.17    41.49  ...    36.16  12.747345  12.0
VGG Flower                    600   0.77    85.96  ...     83.1    8.49823  11.0
Traffic signs                 600   1.29    60.78  ...    44.59  14.871902  14.0
MSCOCO                        600   1.14    48.11  ...    30.38  12.372423  14.5

[11 rows x 75 columns]

In [717]:
all_df = add_ranks(all_df)
all_df

                    CNAPs                  ...     k-NN
               # episodes 95% CI mean (%)  ... mean (%)     stddev  rank
ILSVRC (valid)        600    NaN      NaN  ...      NaN        NaN   NaN
ILSVRC (test)         600    1.1     50.8  ...    38.55  11.747553  15.5
Omniglot              600    0.5     91.7  ...     74.6  13.497188  17.0
Aircraft              600    0.6     83.7  ...    64.98  10.247865  18.0
Birds                 600    0.9     73.6  ...    66.35  11.497605  13.5
Textures              600    0.7     59.5  ...    63.58   9.872943  14.5
QuickDraw             600    0.8     74.7  ...    44.88  13.122266  18.0
Fungi                 600    1.1     50.2  ...    37.12   13.24724  14.5
VGG Flower            600    0.5     88.9  ...    83.47   7.623412  14.5
Traffic signs         600    1.1     56.5  ...    40.11  13.747136  17.0
MSCOCO                600    1.0     39.4  ...    29.55  11.997501  16.0

[11 rows x 90 columns]

In [718]:
imagenet_df.xs('rank', axis=1, level=1).mean()

ALFA+fo-Proto-MAML     6.10
BOHB                   6.85
CTX                    1.75
Finetune               9.45
MatchingNet           12.55
ProtoNet               9.75
ProtoNet (large)       6.25
RelationNet           14.55
SimpleCNAPS            7.75
TSA_resnet18           2.80
TSA_resnet34           1.50
TransductiveCNAPS      7.60
fo-MAML               11.25
fo-Proto-MAML          8.25
k-NN                  13.60
dtype: float64

In [719]:
all_df.xs('rank', axis=1, level=1).mean()

CNAPs                10.25
FLUTE                 5.90
Finetune             13.10
MatchingNet          15.40
ProtoNet             13.50
RelationNet          16.80
SUR                   7.65
SUR-pnf               8.20
SimpleCNAPS           7.45
TSA                   1.65
TransductiveCNAPS     6.05
TriM                  6.60
URL                   2.15
URT                   6.05
URT-pf                7.55
fo-MAML              15.25
fo-Proto-MAML        11.60
k-NN                 15.85
dtype: float64

### Display in HTML
This section uses the DataFrame's "styler" object, which renders nicely within the notebook.

Unfortunately, the HTML it outputs is not compatible with GitHub's markdown (as it relies on the `<style>` tag).

In [720]:
def str_summary(series):
  # Summarize each (episode, model) by a single cell
  # Non-breaking space to keep things on the same line
  nbsp = '\u00A0'
  string = '%(acc)s±%(ci)s%(nbsp)s(%(rank)g)' % {
      'acc': series['mean (%)'],
      'ci': series['95% CI'],
      'rank': series['rank'],
      'nbsp': nbsp
  }
  return string

In [721]:
def display_table(df, models=None):
  accuracies_df = df.stack(0).apply(str_summary, axis=1).unstack(0)[df.index[1:]]
  rank_df = df.xs('rank', axis=1, level=1).loc[df.index[1:]]
  avg_rank_df = pd.DataFrame(rank_df.mean(), columns=['Avg rank'])
  display_df = pd.concat([avg_rank_df, accuracies_df], axis=1)
  if models:
    # Try and force a particular order of models
    display_df = display_df.loc[models]
 
  # Bold cells corresponding to the best rank
  best_acc_mask = rank_df.T == rank_df.min(axis=1)
  best_avg_mask = avg_rank_df == avg_rank_df.min()
  best_mask = pd.concat([best_avg_mask, best_acc_mask], axis=1)
  if models:
    best_mask = best_mask.loc[models]
  bold_mask = best_mask.applymap(lambda v: 'font-weight: bold' if v else '')

  display_style = display_df.style.apply(lambda f: bold_mask, axis=None)
  display_style = display_style.format({'Avg rank': '{:g}'})
  return display_style

In [722]:
imagenet_display = display_table(imagenet_df, models=imagenet_dfs.keys())
imagenet_display

In [723]:
# print(imagenet_display.render())

In [724]:
all_display = display_table(all_df, models=all_dfs.keys())
all_display

In [725]:
# print(all_display.render())

### Display in MarkDown
At least, in GitHub-flavored MarkDown.

In [726]:
def md_render(series):
  # Summarize each (episode, model) by a single cell containing MarkDown
  nbsp = '&nbsp;'
  md_string = '%(bold)s%(acc)5.2f%(bold)s±%(ci)4.2f%(nbsp)s(%(rank)g)' % {
      'acc': series['mean (%)'],
      'ci': series['95% CI'],
      'rank': series['rank'],
      'bold': '**' if series['best_rank'] else '',
      'nbsp': nbsp
  }
  return md_string

In [727]:
def md_table(df, models=None):
  # Whether a model has the best rank on a given dataset
  rank_df = df.xs('rank', axis=1, level=1).loc[df.index[1:]]
  best_rank = pd.concat([rank_df.T == rank_df.min(axis=1)], axis=1,
                        keys=['best_rank']).swaplevel(0, 1, axis=1)
  accuracies_df = df[1:].T.unstack(1)
  accuracies_df = pd.concat([accuracies_df, best_rank], axis=1)
  accuracies_md = accuracies_df.stack(0).apply(md_render, axis=1).unstack(1)

  # Average rank (and whether it's the best)
  avg_rank_df = pd.DataFrame(rank_df.mean(), columns=['Avg rank'])
  best_avg_rank = (avg_rank_df == avg_rank_df.min()).rename(
      columns={'Avg rank': 'best_rank'})
  avg_rank_md = pd.concat([avg_rank_df, best_avg_rank], axis=1).apply(
      lambda s: '%(bold)s%(avg_rank)g%(bold)s' % {
          'avg_rank': s['Avg rank'],
          'bold': '**' if s['best_rank'] else ''
      },
      axis=1).rename('Avg rank')

  # Display method name with a pointer to the reference, defined later.
  ref_to_link = {ref[0]: "[[%i]]" % i for i, ref in enumerate(references, 1)}
  method_md = models_df.apply(lambda r: ref_to_link[r['ref']], axis='columns')

  display_md = pd.concat([avg_rank_md, accuracies_md[df.index[1:]]], axis=1)
  if models:
    # Try and force a particular order of models
    display_md = display_md.loc[list(models)]

  # Pad all cells so they align well, 27 chars should be enough
  header_str = '|'.join(['%-27s' % c
                         for c in ['Method'] + list(display_md.columns)])
  sep_str = '|'.join(['-' * 27 for _ in [''] + list(display_md.columns)])  
  rows = [
      '|'.join(['%-27s' % c for c in ([' '.join((i, method_md.loc[i]))] +
                                      list(display_md.loc[i]))])
      for i in display_md.index
  ]
  return '\n'.join([header_str, sep_str] + rows)

In [728]:
print(md_table(imagenet_df, models=imagenet_dfs.keys()))

Method                     |Avg rank                   |ILSVRC (test)              |Omniglot                   |Aircraft                   |Birds                      |Textures                   |QuickDraw                  |Fungi                      |VGG Flower                 |Traffic signs              |MSCOCO
---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------
k-NN [[1]]                 |13.6                       |41.03±1.01&nbsp;(14)       |37.07±1.15&nbsp;(15)       |46.81±0.89&nbsp;(14)       |50.13±1.00&nbsp;(14.5)     |66.36±0.75&nbsp;(12)       |32.06±1.08&nbsp;(15)       |36.16±1.02&nbsp;(12)       |83.10±0.68&nbsp;(11)       |44.59±1.19&nbsp;(14)       |30.38±0.99&nbsp;(14.5)
Finetune [[1]]             |9.45                       |45.78±1.10&nbsp;(12)       |60.85±1.58&nbsp;(10.5)     |68.69±1.26&nbsp;(4)        |57.31±1.26&nbsp;(13)       |69.05±0.90&nbsp;(8.5)      |42.60±1.17&nbsp;(12.5)     |38.20±1.02&nbsp;(10)       |85.51±0.68&nbsp;(8)        |66.79±1.31&nbsp;(4)        |34.86±0.97&nbsp;(12)
MatchingNet [[1]]          |12.55                      |45.00±1.10&nbsp;(12)       |52.27±1.28&nbsp;(13)       |48.97±0.93&nbsp;(12)       |62.21±0.95&nbsp;(11.5)     |64.15±0.85&nbsp;(14)       |42.87±1.09&nbsp;(12.5)     |33.97±1.00&nbsp;(13)       |80.13±0.71&nbsp;(14)       |47.80±1.14&nbsp;(11.5)     |34.99±1.00&nbsp;(12)
ProtoNet [[1]]             |9.75                       |50.50±1.08&nbsp;(9.5)      |59.98±1.35&nbsp;(10.5)     |53.10±1.00&nbsp;(9.5)      |68.79±1.01&nbsp;(7.5)      |66.56±0.83&nbsp;(12)       |48.96±1.08&nbsp;(10)       |39.71±1.11&nbsp;(8)        |85.27±0.77&nbsp;(8)        |47.12±1.10&nbsp;(13)       |41.00±1.10&nbsp;(9.5)
fo-MAML [[1]]              |11.25                      |45.51±1.11&nbsp;(12)       |55.55±1.54&nbsp;(12)       |56.24±1.11&nbsp;(7.5)      |63.61±1.06&nbsp;(11.5)     |68.04±0.81&nbsp;(8.5)      |43.96±1.29&nbsp;(12.5)     |32.10±1.10&nbsp;(14)       |81.74±0.83&nbsp;(13)       |50.93±1.51&nbsp;(9.5)      |35.30±1.23&nbsp;(12)
RelationNet [[1]]          |14.55                      |34.69±1.01&nbsp;(15)       |45.35±1.36&nbsp;(14)       |40.73±0.83&nbsp;(15)       |49.51±1.05&nbsp;(14.5)     |52.97±0.69&nbsp;(15)       |43.30±1.08&nbsp;(12.5)     |30.55±1.04&nbsp;(15)       |68.76±0.83&nbsp;(15)       |33.67±1.05&nbsp;(15)       |29.15±1.01&nbsp;(14.5)
fo-Proto-MAML [[1]]        |8.25                       |49.53±1.05&nbsp;(9.5)      |63.37±1.33&nbsp;(7.5)      |55.95±0.99&nbsp;(7.5)      |68.66±0.96&nbsp;(7.5)      |66.49±0.83&nbsp;(12)       |51.52±1.00&nbsp;(8.5)      |39.96±1.14&nbsp;(5.5)      |87.15±0.69&nbsp;(5)        |48.83±1.09&nbsp;(11.5)     |43.74±1.12&nbsp;(8)
ALFA+fo-Proto-MAML [[3]]   |6.1                        |52.80±1.11&nbsp;(7.5)      |61.87±1.51&nbsp;(7.5)      |63.43±1.10&nbsp;(5)        |69.75±1.05&nbsp;(5.5)      |70.78±0.88&nbsp;(6)        |59.17±1.16&nbsp;(4.5)      |41.49±1.17&nbsp;(5.5)      |85.96±0.77&nbsp;(8)        |60.78±1.29&nbsp;(7)        |48.11±1.14&nbsp;(4.5)
ProtoNet (large) [[4]]     |6.25                       |53.69±1.07&nbsp;(5)        |68.50±1.27&nbsp;(4.5)      |58.04±0.96&nbsp;(6)        |74.07±0.92&nbsp;(3.5)      |68.76±0.77&nbsp;(8.5)      |53.30±1.06&nbsp;(7)        |40.73±1.15&nbsp;(5.5)      |86.96±0.73&nbsp;(5)        |58.11±1.05&nbsp;(8)        |41.70±1.08&nbsp;(9.5)
CTX [[4]]                  |1.75                       |**62.76**±0.99&nbsp;(1.5)  |**82.21**±1.00&nbsp;(1.5)  |**79.49**±0.89&nbsp;(1.5)  |80.63±0.88&nbsp;(2)        |75.57±0.64&nbsp;(3)        |**72.68**±0.82&nbsp;(1)    |**51.58**±1.11&nbsp;(1.5)  |**95.34**±0.37&nbsp;(1)    |**82.65**±0.76&nbsp;(2)    |59.90±1.02&nbsp;(2.5)
BOHB [[5]]                 |6.85                       |51.92±1.05&nbsp;(7.5)      |67.57±1.21&nbsp;(4.5)      |54.12±0.90&nbsp;(9.5)      |70.69±0.90&nbsp;(5.5)      |68.34±0.76&nbsp;(8.5)      |50.33±1.04&nbsp;(8.5)      |41.38±1.12&nbsp;(5.5)      |87.34±0.59&nbsp;(5)        |51.80±1.04&nbsp;(9.5)      |48.03±0.99&nbsp;(4.5)
SimpleCNAPS [[14]]         |7.75                       |54.80±1.20&nbsp;(5)        |62.00±1.30&nbsp;(7.5)      |49.20±0.90&nbsp;(12)       |66.50±1.00&nbsp;(9.5)      |71.60±0.70&nbsp;(4.5)      |56.60±1.00&nbsp;(6)        |37.50±1.20&nbsp;(10)       |82.10±0.90&nbsp;(11)       |63.10±1.10&nbsp;(5.5)      |45.80±1.00&nbsp;(6.5)
TransductiveCNAPS [[14]]   |7.6                        |54.10±1.10&nbsp;(5)        |62.90±1.30&nbsp;(7.5)      |48.40±0.90&nbsp;(12)       |67.30±0.90&nbsp;(9.5)      |72.50±0.70&nbsp;(4.5)      |58.00±1.00&nbsp;(4.5)      |37.70±1.10&nbsp;(10)       |82.80±0.80&nbsp;(11)       |61.80±1.10&nbsp;(5.5)      |45.80±1.00&nbsp;(6.5)
TSA_resnet18 [[12]]        |2.8                        |59.50±1.10&nbsp;(3)        |78.20±1.20&nbsp;(3)        |72.20±1.00&nbsp;(3)        |74.90±0.90&nbsp;(3.5)      |77.30±0.70&nbsp;(2)        |67.60±0.90&nbsp;(3)        |44.70±1.00&nbsp;(3)        |90.90±0.60&nbsp;(3)        |**82.50**±0.80&nbsp;(2)    |59.00±1.00&nbsp;(2.5)
TSA_resnet34 [[12]]        |**1.5**                    |**63.73**±0.99&nbsp;(1.5)  |**82.58**±1.11&nbsp;(1.5)  |**80.13**±1.01&nbsp;(1.5)  |**83.39**±0.80&nbsp;(1)    |**79.61**±0.68&nbsp;(1)    |71.03±0.84&nbsp;(2)        |**51.38**±1.17&nbsp;(1.5)  |94.05±0.45&nbsp;(2)        |**81.71**±0.95&nbsp;(2)    |**61.67**±0.95&nbsp;(1)

In [729]:
print(md_table(all_df, models=all_dfs.keys()))

Method                     |Avg rank                   |ILSVRC (test)              |Omniglot                   |Aircraft                   |Birds                      |Textures                   |QuickDraw                  |Fungi                      |VGG Flower                 |Traffic signs              |MSCOCO
---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------
k-NN [[1]]                 |15.85                      |38.55±0.94&nbsp;(15.5)     |74.60±1.08&nbsp;(17)       |64.98±0.82&nbsp;(18)       |66.35±0.92&nbsp;(13.5)     |63.58±0.79&nbsp;(14.5)     |44.88±1.05&nbsp;(18)       |37.12±1.06&nbsp;(14.5)     |83.47±0.61&nbsp;(14.5)     |40.11±1.10&nbsp;(17)       |29.55±0.96&nbsp;(16)
Finetune [[1]]             |13.1                       |43.08±1.08&nbsp;(13.5)     |71.11±1.37&nbsp;(18)       |72.03±1.07&nbsp;(14.5)     |59.82±1.15&nbsp;(16)       |69.14±0.85&nbsp;(8.5)      |47.05±1.16&nbsp;(17)       |38.16±1.04&nbsp;(14.5)     |85.28±0.69&nbsp;(13)       |66.74±1.23&nbsp;(2)        |35.17±1.08&nbsp;(14)
MatchingNet [[1]]          |15.4                       |36.08±1.00&nbsp;(17)       |78.25±1.01&nbsp;(15.5)     |69.17±0.96&nbsp;(16.5)     |56.40±1.00&nbsp;(17)       |61.80±0.74&nbsp;(16)       |60.81±1.03&nbsp;(14.5)     |33.70±1.04&nbsp;(17)       |81.90±0.72&nbsp;(16)       |55.57±1.08&nbsp;(8.5)      |28.79±0.96&nbsp;(16)
ProtoNet [[1]]             |13.5                       |44.50±1.05&nbsp;(13.5)     |79.56±1.12&nbsp;(15.5)     |71.14±0.86&nbsp;(14.5)     |67.01±1.02&nbsp;(13.5)     |65.18±0.84&nbsp;(12.5)     |64.88±0.89&nbsp;(13)       |40.26±1.13&nbsp;(13)       |86.85±0.71&nbsp;(12)       |46.48±1.00&nbsp;(15)       |39.87±1.06&nbsp;(12.5)
fo-MAML [[1]]              |15.25                      |37.83±1.01&nbsp;(15.5)     |83.92±0.95&nbsp;(13.5)     |76.41±0.69&nbsp;(12)       |62.43±1.08&nbsp;(15)       |64.16±0.83&nbsp;(14.5)     |59.73±1.10&nbsp;(16)       |33.54±1.11&nbsp;(17)       |79.94±0.84&nbsp;(17)       |42.91±1.31&nbsp;(16)       |29.37±1.08&nbsp;(16)
RelationNet [[1]]          |16.8                       |30.89±0.93&nbsp;(18)       |86.57±0.79&nbsp;(12)       |69.71±0.83&nbsp;(16.5)     |54.14±0.99&nbsp;(18)       |56.56±0.73&nbsp;(18)       |61.75±0.97&nbsp;(14.5)     |32.56±1.08&nbsp;(17)       |76.08±0.76&nbsp;(18)       |37.48±0.93&nbsp;(18)       |27.41±0.89&nbsp;(18)
fo-Proto-MAML [[1]]        |11.6                       |46.52±1.05&nbsp;(12)       |82.69±0.97&nbsp;(13.5)     |75.23±0.76&nbsp;(13)       |69.88±1.02&nbsp;(11.5)     |68.25±0.81&nbsp;(10.5)     |66.84±0.94&nbsp;(12)       |41.99±1.17&nbsp;(12)       |88.72±0.67&nbsp;(10)       |52.42±1.08&nbsp;(11.5)     |41.74±1.13&nbsp;(10)
CNAPs [[2]]                |10.25                      |50.80±1.10&nbsp;(10.5)     |91.70±0.50&nbsp;(8)        |83.70±0.60&nbsp;(7.5)      |73.60±0.90&nbsp;(10)       |59.50±0.70&nbsp;(17)       |74.70±0.80&nbsp;(11)       |50.20±1.10&nbsp;(7.5)      |88.90±0.50&nbsp;(10)       |56.50±1.10&nbsp;(8.5)      |39.40±1.00&nbsp;(12.5)
SUR [[6]]                  |7.65                       |56.10±1.10&nbsp;(7)        |93.10±0.50&nbsp;(5.5)      |84.60±0.70&nbsp;(5.5)      |70.60±1.00&nbsp;(11.5)     |71.00±0.80&nbsp;(6.5)      |81.30±0.60&nbsp;(4)        |64.20±1.10&nbsp;(3.5)      |82.80±0.80&nbsp;(14.5)     |53.40±1.00&nbsp;(11.5)     |50.10±1.00&nbsp;(7)
SUR-pnf [[6]]              |8.2                        |56.00±1.10&nbsp;(7)        |90.00±0.60&nbsp;(10.5)     |79.70±0.80&nbsp;(10.5)     |75.90±0.90&nbsp;(7.5)      |72.50±0.70&nbsp;(4.5)      |76.70±0.70&nbsp;(8.5)      |49.80±1.10&nbsp;(7.5)      |90.00±0.60&nbsp;(7.5)      |52.20±0.80&nbsp;(11.5)     |50.20±1.10&nbsp;(7)
SimpleCNAPS [[14]]         |7.45                       |56.50±1.10&nbsp;(7)        |91.90±0.60&nbsp;(8)        |83.80±0.60&nbsp;(7.5)      |76.10±0.90&nbsp;(7.5)      |70.00±0.80&nbsp;(8.5)      |78.30±0.70&nbsp;(6.5)      |49.10±1.20&nbsp;(7.5)      |91.30±0.60&nbsp;(6)        |59.20±1.00&nbsp;(6)        |42.40±1.10&nbsp;(10)
TransductiveCNAPS [[14]]   |6.05                       |**57.90**±1.10&nbsp;(2.5)  |94.30±0.40&nbsp;(3.5)      |84.70±0.50&nbsp;(5.5)      |78.80±0.70&nbsp;(3.5)      |66.20±0.80&nbsp;(12.5)     |77.90±0.60&nbsp;(6.5)      |48.90±1.20&nbsp;(7.5)      |**92.30**±0.40&nbsp;(3)    |59.70±1.10&nbsp;(6)        |42.50±1.10&nbsp;(10)
URT [[9]]                  |6.05                       |55.70±1.00&nbsp;(7)        |94.40±0.40&nbsp;(3.5)      |85.80±0.60&nbsp;(4)        |76.30±0.80&nbsp;(7.5)      |71.80±0.70&nbsp;(4.5)      |**82.50**±0.60&nbsp;(2)    |63.50±1.00&nbsp;(3.5)      |88.20±0.60&nbsp;(10)       |51.10±1.10&nbsp;(14)       |52.20±1.10&nbsp;(4.5)
URT-pf [[9]]               |7.55                       |55.50±1.10&nbsp;(7)        |90.20±0.60&nbsp;(10.5)     |79.80±0.70&nbsp;(10.5)     |77.50±0.80&nbsp;(5)        |73.50±0.70&nbsp;(3)        |75.80±0.70&nbsp;(10)       |48.10±0.90&nbsp;(10.5)     |**91.90**±0.50&nbsp;(3)    |52.00±1.40&nbsp;(11.5)     |52.10±1.00&nbsp;(4.5)
FLUTE [[10]]               |5.9                        |51.80±1.10&nbsp;(10.5)     |93.20±0.50&nbsp;(5.5)      |87.20±0.50&nbsp;(3)        |79.20±0.80&nbsp;(3.5)      |68.80±0.80&nbsp;(10.5)     |79.50±0.70&nbsp;(5)        |58.10±1.10&nbsp;(5)        |**91.60**±0.60&nbsp;(3)    |58.40±1.10&nbsp;(6)        |50.00±1.00&nbsp;(7)
URL [[11]]                 |2.15                       |**57.51**±1.08&nbsp;(2.5)  |**94.51**±0.41&nbsp;(1.5)  |88.59±0.46&nbsp;(2)        |**80.54**±0.69&nbsp;(1.5)  |**76.17**±0.67&nbsp;(1.5)  |**81.94**±0.56&nbsp;(2)    |**68.75**±0.95&nbsp;(1.5)  |**92.11**±0.48&nbsp;(3)    |63.34±1.19&nbsp;(3.5)      |54.03±0.96&nbsp;(2.5)
TSA [[12]]                 |**1.65**                   |**57.35**±1.05&nbsp;(2.5)  |**94.96**±0.38&nbsp;(1.5)  |**89.33**±0.44&nbsp;(1)    |**81.42**±0.74&nbsp;(1.5)  |**76.74**±0.72&nbsp;(1.5)  |**82.01**±0.57&nbsp;(2)    |**67.40**±0.99&nbsp;(1.5)  |**92.18**±0.52&nbsp;(3)    |**83.55**±0.90&nbsp;(1)    |**55.75**±1.06&nbsp;(1)
TriM [[13]]                |6.6                        |**58.60**±1.00&nbsp;(2.5)  |92.00±0.60&nbsp;(8)        |82.80±0.70&nbsp;(9)        |75.30±0.80&nbsp;(7.5)      |71.20±0.80&nbsp;(6.5)      |77.30±0.70&nbsp;(8.5)      |48.50±1.00&nbsp;(10.5)     |90.50±0.50&nbsp;(7.5)      |63.00±1.00&nbsp;(3.5)      |52.80±1.10&nbsp;(2.5)

## Export to MarkDown

### Reference list

In [730]:
def sanitize_anchor(string):
  # Try to mimic the MarkDown function that transforms a section title into an
  # html link anchor, that is:
  # - put it in lower case
  # - remove everything that is not a text character ("\w", which includes "_"),
  #   a space ("\s") or dash ("-")
  # - replace spaces and "_" by "-" (and deduplicate)
  anchor = string.lower()
  anchor = re.sub('[^\w\s-]', '', anchor)
  anchor = re.sub('[\s_-]+', '-', anchor)
  return anchor

In [731]:
def ref_list():
  # Define links from [i] to the reference section
  links = []
  for i, ref in enumerate(references, 1):
    links.append('[%(i)i]: #%(i)i-%(r)s' % dict(
        i=i,
        r=sanitize_anchor(ref[0])))

  references_md = []
  # Content of the reference section
  for i, ref in enumerate(references, 1):
    references_md.append(textwrap.dedent(r'''
      ###### \[%(i)i\] %(shortref)s

      %(fullref)s
    ''') % dict(i=i, shortref=ref[0], fullref=ref[1]))

  return '\n'.join(links + references_md)

In [732]:
print(ref_list())

[1]: #1-triantafillou-et-al-2020
[2]: #2-requeima-et-al-2019
[3]: #3-baik-et-al-2020
[4]: #4-doersch-et-al-2020
[5]: #5-saikia-et-al-2020
[6]: #6-dvornik-et-al-2020
[7]: #7-bateni-et-al-2020
[8]: #8-bateni-et-al-2022a
[9]: #9-liu-et-al-2021a
[10]: #10-triantafillou-et-al-2021
[11]: #11-li-et-al-2021a
[12]: #12-li-et-al-2021b
[13]: #13-liu-et-al-2021b
[14]: #14-bateni-et-al-2022b

###### \[1\] Triantafillou et al. (2020)

Eleni Triantafillou, Tyler Zhu, Vincent Dumoulin, Pascal Lamblin, Utku Evci, Kelvin Xu, Ross Goroshin, Carles Gelada, Kevin Swersky, Pierre-Antoine Manzagol, Hugo Larochelle; [_Meta-Dataset: A Dataset of Datasets for Learning to Learn from Few Examples_](https://arxiv.org/abs/1903.03096); ICLR 2020.


###### \[2\] Requeima et al. (2019)

James Requeima, Jonathan Gordon, John Bronskill, Sebastian Nowozin, Richard E. Turner; [_Fast and Flexible Multi-Task Classification Using Conditional Neural Adaptive Processes_](https://arxiv.org/abs/1906.07697); NeurIPS 2019.


###### \[3\] Baik et al. (2020)

Sungyong Baik, Myungsub Choi, Janghoon Choi, Heewon Kim, Kyoung Mu Lee; [_Meta-Learning with Adaptive Hyperparameters_](https://papers.nips.cc/paper/2020/hash/ee89223a2b625b5152132ed77abbcc79-Abstract.html); NeurIPS 2020.


###### \[4\] Doersch et al. (2020)

Carl Doersch, Ankush Gupta, Andrew Zisserman; [_CrossTransformers: spatially-aware few-shot transfer_](https://arxiv.org/abs/2007.11498); NeurIPS 2020.


###### \[5\] Saikia et al. (2020)

Tonmoy Saikia, Thomas Brox, Cordelia Schmid; [_Optimized Generic Feature Learning for Few-shot Classification across Domains_](https://arxiv.org/abs/2001.07926); arXiv 2020.


###### \[6\] Dvornik et al. (2020)

Nikita Dvornik, Cordelia Schmid, Julien Mairal; [_Selecting Relevant Features from a Multi-domain Representation for Few-shot Classification_](https://arxiv.org/abs/2003.09338); ECCV 2020.


###### \[7\] Bateni et al. (2020)

Peyman Bateni, Raghav Goyal, Vaden Masrani, Frank Wood, Leonid Sigal; [_Improved Few-Shot Visual Classification_](https://openaccess.thecvf.com/content_CVPR_2020/html/Bateni_Improved_Few-Shot_Visual_Classification_CVPR_2020_paper.html); CVPR 2020.


###### \[8\] Bateni et al. (2022a)

Peyman Bateni, Jarred Barber, Jan-Willem van de Meent, Frank Wood; [_Enhancing Few-Shot Image Classification with Unlabelled Examples_](https://openaccess.thecvf.com/content/WACV2022/html/Bateni_Enhancing_Few-Shot_Image_Classification_With_Unlabelled_Examples_WACV_2022_paper.html); WACV 2022.


###### \[9\] Liu et al. (2021a)

Lu Liu, William Hamilton, Guodong Long, Jing Jiang, Hugo Larochelle; [_Universal Representation Transformer Layer for Few-Shot Image Classification_](https://arxiv.org/abs/2006.11702); ICLR 2021.


###### \[10\] Triantafillou et al. (2021)

Eleni Triantafillou, Hugo Larochelle, Richard Zemel, Vincent Dumoulin; [_Learning a Universal Template for Few-shot Dataset Generalization_](https://arxiv.org/abs/2105.07029); ICML 2021.


###### \[11\] Li et al. (2021a)

Wei-Hong Li, Xialei Liu, Hakan Bilen; [_Universal Representation Learning from Multiple Domains for Few-shot Classification_](https://arxiv.org/pdf/2103.13841.pdf); ICCV 2021.


###### \[12\] Li et al. (2021b)

Wei-Hong Li, Xialei Liu, Hakan Bilen; [_Cross-domain Few-shot Learning with Task-specific Adapters_](https://arxiv.org/pdf/2107.00358.pdf); arXiv 2021.


###### \[13\] Liu et al. (2021b)

Yanbin Liu, Juho Lee, Linchao Zhu, Ling Chen, Humphrey Shi, Yi Yang; [_A Multi-Mode Modulator for Multi-Domain Few-Shot Classification_](https://openaccess.thecvf.com/content/ICCV2021/papers/Liu_A_Multi-Mode_Modulator_for_Multi-Domain_Few-Shot_Classification_ICCV_2021_paper.pdf); ICCV 2021.


###### \[14\] Bateni et al. (2022b)

Bateni Peyman, Jarred Barber, Raghav Goyal, Vaden Masrani, Jan-Willem van de Meent, Leonid Sigal, and Frank Wood.; [_Beyond Simple Meta-Learning: Multi-Purpose Models for Multi-Domain, Active and Continual Few-Shot Learning._](https://arxiv.org/abs/2201.05151); arXiv 2022.

### Full section

In [733]:
def export_md():
  begin_line = '<!-- Beginning of content generated by `Leaderboard.ipynb` -->'
  end_line = '<!-- End of content generated by `Leaderboard.ipynb` -->'

  parts = [
      begin_line,
      '## Training on ImageNet only',
      md_table(imagenet_df, models=imagenet_dfs.keys()),
      '## Training on all datasets',
      md_table(all_df, models=all_dfs.keys()),
      '## References',
      ref_list(),
      end_line
  ]
  return '\n\n'.join(parts)

In [734]:
print(export_md())

<!-- Beginning of content generated by `Leaderboard.ipynb` -->

## Training on ImageNet only

Method                     |Avg rank                   |ILSVRC (test)              |Omniglot                   |Aircraft                   |Birds                      |Textures                   |QuickDraw                  |Fungi                      |VGG Flower                 |Traffic signs              |MSCOCO
---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------
k-NN [[1]]                 |13.6                       |41.03±1.01&nbsp;(14)       |37.07±1.15&nbsp;(15)       |46.81±0.89&nbsp;(14)       |50.13±1.00&nbsp;(14.5)     |66.36±0.75&nbsp;(12)       |32.06±1.08&nbsp;(15)       |36.16±1.02&nbsp;(12)       |83.10±0.68&nbsp;(11)       |44.59±1.19&nbsp;(14)       |30.38±0.99&nbsp;(14.5)
Finetune [[1]]             |9.45                       |45.78±1.10&nbsp;(12)       |60.85±1.58&nbsp;(10.5)     |68.69±1.26&nbsp;(4)        |57.31±1.26&nbsp;(13)       |69.05±0.90&nbsp;(8.5)      |42.60±1.17&nbsp;(12.5)     |38.20±1.02&nbsp;(10)       |85.51±0.68&nbsp;(8)        |66.79±1.31&nbsp;(4)        |34.86±0.97&nbsp;(12)
MatchingNet [[1]]          |12.55                      |45.00±1.10&nbsp;(12)       |52.27±1.28&nbsp;(13)       |48.97±0.93&nbsp;(12)       |62.21±0.95&nbsp;(11.5)     |64.15±0.85&nbsp;(14)       |42.87±1.09&nbsp;(12.5)     |33.97±1.00&nbsp;(13)       |80.13±0.71&nbsp;(14)       |47.80±1.14&nbsp;(11.5)     |34.99±1.00&nbsp;(12)
ProtoNet [[1]]             |9.75                       |50.50±1.08&nbsp;(9.5)      |59.98±1.35&nbsp;(10.5)     |53.10±1.00&nbsp;(9.5)      |68.79±1.01&nbsp;(7.5)      |66.56±0.83&nbsp;(12)       |48.96±1.08&nbsp;(10)       |39.71±1.11&nbsp;(8)        |85.27±0.77&nbsp;(8)        |47.12±1.10&nbsp;(13)       |41.00±1.10&nbsp;(9.5)
fo-MAML [[1]]              |11.25                      |45.51±1.11&nbsp;(12)       |55.55±1.54&nbsp;(12)       |56.24±1.11&nbsp;(7.5)      |63.61±1.06&nbsp;(11.5)     |68.04±0.81&nbsp;(8.5)      |43.96±1.29&nbsp;(12.5)     |32.10±1.10&nbsp;(14)       |81.74±0.83&nbsp;(13)       |50.93±1.51&nbsp;(9.5)      |35.30±1.23&nbsp;(12)
RelationNet [[1]]          |14.55                      |34.69±1.01&nbsp;(15)       |45.35±1.36&nbsp;(14)       |40.73±0.83&nbsp;(15)       |49.51±1.05&nbsp;(14.5)     |52.97±0.69&nbsp;(15)       |43.30±1.08&nbsp;(12.5)     |30.55±1.04&nbsp;(15)       |68.76±0.83&nbsp;(15)       |33.67±1.05&nbsp;(15)       |29.15±1.01&nbsp;(14.5)
fo-Proto-MAML [[1]]        |8.25                       |49.53±1.05&nbsp;(9.5)      |63.37±1.33&nbsp;(7.5)      |55.95±0.99&nbsp;(7.5)      |68.66±0.96&nbsp;(7.5)      |66.49±0.83&nbsp;(12)       |51.52±1.00&nbsp;(8.5)      |39.96±1.14&nbsp;(5.5)      |87.15±0.69&nbsp;(5)        |48.83±1.09&nbsp;(11.5)     |43.74±1.12&nbsp;(8)
ALFA+fo-Proto-MAML [[3]]   |6.1                        |52.80±1.11&nbsp;(7.5)      |61.87±1.51&nbsp;(7.5)      |63.43±1.10&nbsp;(5)        |69.75±1.05&nbsp;(5.5)      |70.78±0.88&nbsp;(6)        |59.17±1.16&nbsp;(4.5)      |41.49±1.17&nbsp;(5.5)      |85.96±0.77&nbsp;(8)        |60.78±1.29&nbsp;(7)        |48.11±1.14&nbsp;(4.5)
ProtoNet (large) [[4]]     |6.25                       |53.69±1.07&nbsp;(5)        |68.50±1.27&nbsp;(4.5)      |58.04±0.96&nbsp;(6)        |74.07±0.92&nbsp;(3.5)      |68.76±0.77&nbsp;(8.5)      |53.30±1.06&nbsp;(7)        |40.73±1.15&nbsp;(5.5)      |86.96±0.73&nbsp;(5)        |58.11±1.05&nbsp;(8)        |41.70±1.08&nbsp;(9.5)
CTX [[4]]                  |1.75                       |**62.76**±0.99&nbsp;(1.5)  |**82.21**±1.00&nbsp;(1.5)  |**79.49**±0.89&nbsp;(1.5)  |80.63±0.88&nbsp;(2)        |75.57±0.64&nbsp;(3)        |**72.68**±0.82&nbsp;(1)    |**51.58**±1.11&nbsp;(1.5)  |**95.34**±0.37&nbsp;(1)    |**82.65**±0.76&nbsp;(2)    |59.90±1.02&nbsp;(2.5)
BOHB [[5]]                 |6.85                       |51.92±1.05&nbsp;(7.5)      |67.57±1.21&nbsp;(4.5)      |54.12±0.90&nbsp;(9.5)      |70.69±0.90&nbsp;(5.5)      |68.34±0.76&nbsp;(8.5)      |50.33±1.04&nbsp;(8.5)      |41.38±1.12&nbsp;(5.5)      |87.34±0.59&nbsp;(5)        |51.80±1.04&nbsp;(9.5)      |48.03±0.99&nbsp;(4.5)
SimpleCNAPS [[14]]         |7.75                       |54.80±1.20&nbsp;(5)        |62.00±1.30&nbsp;(7.5)      |49.20±0.90&nbsp;(12)       |66.50±1.00&nbsp;(9.5)      |71.60±0.70&nbsp;(4.5)      |56.60±1.00&nbsp;(6)        |37.50±1.20&nbsp;(10)       |82.10±0.90&nbsp;(11)       |63.10±1.10&nbsp;(5.5)      |45.80±1.00&nbsp;(6.5)
TransductiveCNAPS [[14]]   |7.6                        |54.10±1.10&nbsp;(5)        |62.90±1.30&nbsp;(7.5)      |48.40±0.90&nbsp;(12)       |67.30±0.90&nbsp;(9.5)      |72.50±0.70&nbsp;(4.5)      |58.00±1.00&nbsp;(4.5)      |37.70±1.10&nbsp;(10)       |82.80±0.80&nbsp;(11)       |61.80±1.10&nbsp;(5.5)      |45.80±1.00&nbsp;(6.5)
TSA_resnet18 [[12]]        |2.8                        |59.50±1.10&nbsp;(3)        |78.20±1.20&nbsp;(3)        |72.20±1.00&nbsp;(3)        |74.90±0.90&nbsp;(3.5)      |77.30±0.70&nbsp;(2)        |67.60±0.90&nbsp;(3)        |44.70±1.00&nbsp;(3)        |90.90±0.60&nbsp;(3)        |**82.50**±0.80&nbsp;(2)    |59.00±1.00&nbsp;(2.5)
TSA_resnet34 [[12]]        |**1.5**                    |**63.73**±0.99&nbsp;(1.5)  |**82.58**±1.11&nbsp;(1.5)  |**80.13**±1.01&nbsp;(1.5)  |**83.39**±0.80&nbsp;(1)    |**79.61**±0.68&nbsp;(1)    |71.03±0.84&nbsp;(2)        |**51.38**±1.17&nbsp;(1.5)  |94.05±0.45&nbsp;(2)        |**81.71**±0.95&nbsp;(2)    |**61.67**±0.95&nbsp;(1)

## Training on all datasets

Method                     |Avg rank                   |ILSVRC (test)              |Omniglot                   |Aircraft                   |Birds                      |Textures                   |QuickDraw                  |Fungi                      |VGG Flower                 |Traffic signs              |MSCOCO
---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------|---------------------------
k-NN [[1]]                 |15.85                      |38.55±0.94&nbsp;(15.5)     |74.60±1.08&nbsp;(17)       |64.98±0.82&nbsp;(18)       |66.35±0.92&nbsp;(13.5)     |63.58±0.79&nbsp;(14.5)     |44.88±1.05&nbsp;(18)       |37.12±1.06&nbsp;(14.5)     |83.47±0.61&nbsp;(14.5)     |40.11±1.10&nbsp;(17)       |29.55±0.96&nbsp;(16)
Finetune [[1]]             |13.1                       |43.08±1.08&nbsp;(13.5)     |71.11±1.37&nbsp;(18)       |72.03±1.07&nbsp;(14.5)     |59.82±1.15&nbsp;(16)       |69.14±0.85&nbsp;(8.5)      |47.05±1.16&nbsp;(17)       |38.16±1.04&nbsp;(14.5)     |85.28±0.69&nbsp;(13)       |66.74±1.23&nbsp;(2)        |35.17±1.08&nbsp;(14)
MatchingNet [[1]]          |15.4                       |36.08±1.00&nbsp;(17)       |78.25±1.01&nbsp;(15.5)     |69.17±0.96&nbsp;(16.5)     |56.40±1.00&nbsp;(17)       |61.80±0.74&nbsp;(16)       |60.81±1.03&nbsp;(14.5)     |33.70±1.04&nbsp;(17)       |81.90±0.72&nbsp;(16)       |55.57±1.08&nbsp;(8.5)      |28.79±0.96&nbsp;(16)
ProtoNet [[1]]             |13.5                       |44.50±1.05&nbsp;(13.5)     |79.56±1.12&nbsp;(15.5)     |71.14±0.86&nbsp;(14.5)     |67.01±1.02&nbsp;(13.5)     |65.18±0.84&nbsp;(12.5)     |64.88±0.89&nbsp;(13)       |40.26±1.13&nbsp;(13)       |86.85±0.71&nbsp;(12)       |46.48±1.00&nbsp;(15)       |39.87±1.06&nbsp;(12.5)
fo-MAML [[1]]              |15.25                      |37.83±1.01&nbsp;(15.5)     |83.92±0.95&nbsp;(13.5)     |76.41±0.69&nbsp;(12)       |62.43±1.08&nbsp;(15)       |64.16±0.83&nbsp;(14.5)     |59.73±1.10&nbsp;(16)       |33.54±1.11&nbsp;(17)       |79.94±0.84&nbsp;(17)       |42.91±1.31&nbsp;(16)       |29.37±1.08&nbsp;(16)
RelationNet [[1]]          |16.8                       |30.89±0.93&nbsp;(18)       |86.57±0.79&nbsp;(12)       |69.71±0.83&nbsp;(16.5)     |54.14±0.99&nbsp;(18)       |56.56±0.73&nbsp;(18)       |61.75±0.97&nbsp;(14.5)     |32.56±1.08&nbsp;(17)       |76.08±0.76&nbsp;(18)       |37.48±0.93&nbsp;(18)       |27.41±0.89&nbsp;(18)
fo-Proto-MAML [[1]]        |11.6                       |46.52±1.05&nbsp;(12)       |82.69±0.97&nbsp;(13.5)     |75.23±0.76&nbsp;(13)       |69.88±1.02&nbsp;(11.5)     |68.25±0.81&nbsp;(10.5)     |66.84±0.94&nbsp;(12)       |41.99±1.17&nbsp;(12)       |88.72±0.67&nbsp;(10)       |52.42±1.08&nbsp;(11.5)     |41.74±1.13&nbsp;(10)
CNAPs [[2]]                |10.25                      |50.80±1.10&nbsp;(10.5)     |91.70±0.50&nbsp;(8)        |83.70±0.60&nbsp;(7.5)      |73.60±0.90&nbsp;(10)       |59.50±0.70&nbsp;(17)       |74.70±0.80&nbsp;(11)       |50.20±1.10&nbsp;(7.5)      |88.90±0.50&nbsp;(10)       |56.50±1.10&nbsp;(8.5)      |39.40±1.00&nbsp;(12.5)
SUR [[6]]                  |7.65                       |56.10±1.10&nbsp;(7)        |93.10±0.50&nbsp;(5.5)      |84.60±0.70&nbsp;(5.5)      |70.60±1.00&nbsp;(11.5)     |71.00±0.80&nbsp;(6.5)      |81.30±0.60&nbsp;(4)        |64.20±1.10&nbsp;(3.5)      |82.80±0.80&nbsp;(14.5)     |53.40±1.00&nbsp;(11.5)     |50.10±1.00&nbsp;(7)
SUR-pnf [[6]]              |8.2                        |56.00±1.10&nbsp;(7)        |90.00±0.60&nbsp;(10.5)     |79.70±0.80&nbsp;(10.5)     |75.90±0.90&nbsp;(7.5)      |72.50±0.70&nbsp;(4.5)      |76.70±0.70&nbsp;(8.5)      |49.80±1.10&nbsp;(7.5)      |90.00±0.60&nbsp;(7.5)      |52.20±0.80&nbsp;(11.5)     |50.20±1.10&nbsp;(7)
SimpleCNAPS [[14]]         |7.45                       |56.50±1.10&nbsp;(7)        |91.90±0.60&nbsp;(8)        |83.80±0.60&nbsp;(7.5)      |76.10±0.90&nbsp;(7.5)      |70.00±0.80&nbsp;(8.5)      |78.30±0.70&nbsp;(6.5)      |49.10±1.20&nbsp;(7.5)      |91.30±0.60&nbsp;(6)        |59.20±1.00&nbsp;(6)        |42.40±1.10&nbsp;(10)
TransductiveCNAPS [[14]]   |6.05                       |**57.90**±1.10&nbsp;(2.5)  |94.30±0.40&nbsp;(3.5)      |84.70±0.50&nbsp;(5.5)      |78.80±0.70&nbsp;(3.5)      |66.20±0.80&nbsp;(12.5)     |77.90±0.60&nbsp;(6.5)      |48.90±1.20&nbsp;(7.5)      |**92.30**±0.40&nbsp;(3)    |59.70±1.10&nbsp;(6)        |42.50±1.10&nbsp;(10)
URT [[9]]                  |6.05                       |55.70±1.00&nbsp;(7)        |94.40±0.40&nbsp;(3.5)      |85.80±0.60&nbsp;(4)        |76.30±0.80&nbsp;(7.5)      |71.80±0.70&nbsp;(4.5)      |**82.50**±0.60&nbsp;(2)    |63.50±1.00&nbsp;(3.5)      |88.20±0.60&nbsp;(10)       |51.10±1.10&nbsp;(14)       |52.20±1.10&nbsp;(4.5)
URT-pf [[9]]               |7.55                       |55.50±1.10&nbsp;(7)        |90.20±0.60&nbsp;(10.5)     |79.80±0.70&nbsp;(10.5)     |77.50±0.80&nbsp;(5)        |73.50±0.70&nbsp;(3)        |75.80±0.70&nbsp;(10)       |48.10±0.90&nbsp;(10.5)     |**91.90**±0.50&nbsp;(3)    |52.00±1.40&nbsp;(11.5)     |52.10±1.00&nbsp;(4.5)
FLUTE [[10]]               |5.9                        |51.80±1.10&nbsp;(10.5)     |93.20±0.50&nbsp;(5.5)      |87.20±0.50&nbsp;(3)        |79.20±0.80&nbsp;(3.5)      |68.80±0.80&nbsp;(10.5)     |79.50±0.70&nbsp;(5)        |58.10±1.10&nbsp;(5)        |**91.60**±0.60&nbsp;(3)    |58.40±1.10&nbsp;(6)        |50.00±1.00&nbsp;(7)
URL [[11]]                 |2.15                       |**57.51**±1.08&nbsp;(2.5)  |**94.51**±0.41&nbsp;(1.5)  |88.59±0.46&nbsp;(2)        |**80.54**±0.69&nbsp;(1.5)  |**76.17**±0.67&nbsp;(1.5)  |**81.94**±0.56&nbsp;(2)    |**68.75**±0.95&nbsp;(1.5)  |**92.11**±0.48&nbsp;(3)    |63.34±1.19&nbsp;(3.5)      |54.03±0.96&nbsp;(2.5)
TSA [[12]]                 |**1.65**                   |**57.35**±1.05&nbsp;(2.5)  |**94.96**±0.38&nbsp;(1.5)  |**89.33**±0.44&nbsp;(1)    |**81.42**±0.74&nbsp;(1.5)  |**76.74**±0.72&nbsp;(1.5)  |**82.01**±0.57&nbsp;(2)    |**67.40**±0.99&nbsp;(1.5)  |**92.18**±0.52&nbsp;(3)    |**83.55**±0.90&nbsp;(1)    |**55.75**±1.06&nbsp;(1)
TriM [[13]]                |6.6                        |**58.60**±1.00&nbsp;(2.5)  |92.00±0.60&nbsp;(8)        |82.80±0.70&nbsp;(9)        |75.30±0.80&nbsp;(7.5)      |71.20±0.80&nbsp;(6.5)      |77.30±0.70&nbsp;(8.5)      |48.50±1.00&nbsp;(10.5)     |90.50±0.50&nbsp;(7.5)      |63.00±1.00&nbsp;(3.5)      |52.80±1.10&nbsp;(2.5)

## References

[1]: #1-triantafillou-et-al-2020
[2]: #2-requeima-et-al-2019
[3]: #3-baik-et-al-2020
[4]: #4-doersch-et-al-2020
[5]: #5-saikia-et-al-2020
[6]: #6-dvornik-et-al-2020
[7]: #7-bateni-et-al-2020
[8]: #8-bateni-et-al-2022a
[9]: #9-liu-et-al-2021a
[10]: #10-triantafillou-et-al-2021
[11]: #11-li-et-al-2021a
[12]: #12-li-et-al-2021b
[13]: #13-liu-et-al-2021b
[14]: #14-bateni-et-al-2022b

###### \[1\] Triantafillou et al. (2020)

Eleni Triantafillou, Tyler Zhu, Vincent Dumoulin, Pascal Lamblin, Utku Evci, Kelvin Xu, Ross Goroshin, Carles Gelada, Kevin Swersky, Pierre-Antoine Manzagol, Hugo Larochelle; [_Meta-Dataset: A Dataset of Datasets for Learning to Learn from Few Examples_](https://arxiv.org/abs/1903.03096); ICLR 2020.


###### \[2\] Requeima et al. (2019)

James Requeima, Jonathan Gordon, John Bronskill, Sebastian Nowozin, Richard E. Turner; [_Fast and Flexible Multi-Task Classification Using Conditional Neural Adaptive Processes_](https://arxiv.org/abs/1906.07697); NeurIPS 2019.


###### \[3\] Baik et al. (2020)

Sungyong Baik, Myungsub Choi, Janghoon Choi, Heewon Kim, Kyoung Mu Lee; [_Meta-Learning with Adaptive Hyperparameters_](https://papers.nips.cc/paper/2020/hash/ee89223a2b625b5152132ed77abbcc79-Abstract.html); NeurIPS 2020.


###### \[4\] Doersch et al. (2020)

Carl Doersch, Ankush Gupta, Andrew Zisserman; [_CrossTransformers: spatially-aware few-shot transfer_](https://arxiv.org/abs/2007.11498); NeurIPS 2020.


###### \[5\] Saikia et al. (2020)

Tonmoy Saikia, Thomas Brox, Cordelia Schmid; [_Optimized Generic Feature Learning for Few-shot Classification across Domains_](https://arxiv.org/abs/2001.07926); arXiv 2020.


###### \[6\] Dvornik et al. (2020)

Nikita Dvornik, Cordelia Schmid, Julien Mairal; [_Selecting Relevant Features from a Multi-domain Representation for Few-shot Classification_](https://arxiv.org/abs/2003.09338); ECCV 2020.


###### \[7\] Bateni et al. (2020)

Peyman Bateni, Raghav Goyal, Vaden Masrani, Frank Wood, Leonid Sigal; [_Improved Few-Shot Visual Classification_](https://openaccess.thecvf.com/content_CVPR_2020/html/Bateni_Improved_Few-Shot_Visual_Classification_CVPR_2020_paper.html); CVPR 2020.


###### \[8\] Bateni et al. (2022a)

Peyman Bateni, Jarred Barber, Jan-Willem van de Meent, Frank Wood; [_Enhancing Few-Shot Image Classification with Unlabelled Examples_](https://openaccess.thecvf.com/content/WACV2022/html/Bateni_Enhancing_Few-Shot_Image_Classification_With_Unlabelled_Examples_WACV_2022_paper.html); WACV 2022.


###### \[9\] Liu et al. (2021a)

Lu Liu, William Hamilton, Guodong Long, Jing Jiang, Hugo Larochelle; [_Universal Representation Transformer Layer for Few-Shot Image Classification_](https://arxiv.org/abs/2006.11702); ICLR 2021.


###### \[10\] Triantafillou et al. (2021)

Eleni Triantafillou, Hugo Larochelle, Richard Zemel, Vincent Dumoulin; [_Learning a Universal Template for Few-shot Dataset Generalization_](https://arxiv.org/abs/2105.07029); ICML 2021.


###### \[11\] Li et al. (2021a)

Wei-Hong Li, Xialei Liu, Hakan Bilen; [_Universal Representation Learning from Multiple Domains for Few-shot Classification_](https://arxiv.org/pdf/2103.13841.pdf); ICCV 2021.


###### \[12\] Li et al. (2021b)

Wei-Hong Li, Xialei Liu, Hakan Bilen; [_Cross-domain Few-shot Learning with Task-specific Adapters_](https://arxiv.org/pdf/2107.00358.pdf); arXiv 2021.


###### \[13\] Liu et al. (2021b)

Yanbin Liu, Juho Lee, Linchao Zhu, Ling Chen, Humphrey Shi, Yi Yang; [_A Multi-Mode Modulator for Multi-Domain Few-Shot Classification_](https://openaccess.thecvf.com/content/ICCV2021/papers/Liu_A_Multi-Mode_Modulator_for_Multi-Domain_Few-Shot_Classification_ICCV_2021_paper.pdf); ICCV 2021.


###### \[14\] Bateni et al. (2022b)

Bateni Peyman, Jarred Barber, Raghav Goyal, Vaden Masrani, Jan-Willem van de Meent, Leonid Sigal, and Frank Wood.; [_Beyond Simple Meta-Learning: Multi-Purpose Models for Multi-Domain, Active and Continual Few-Shot Learning._](https://arxiv.org/abs/2201.05151); arXiv 2022.


<!-- End of content generated by `Leaderboard.ipynb` -->